<link rel="import" href="../bower_components/polymer/polymer.html">

<polymer-element name="tsante-inputtext" attributes="value name">
    <template>
        <style>
        input {
            padding-right: 18px;
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            margin-left: -22px;
            margin-right: 10px;
            vertical-align: middle;
        }
        a:hover {
            color: grey;
        }
        a:after {
            content: "✖";
        }
        a[hide] {
            visibility: hidden;
        }
        </style>
        <input type="text" value="{{value}}"/>
        <a href="javascript:;" on-click="{{deleteCB}}" hide?="{{value === ''}}"></a>
    </template>
    <script>
    Polymer({
        created: function(){
            this.value = "";
            this.name = "";
        },
        deleteCB: function(event, detail, sender) {
            this.value = "";
        }
    });
    </script>
</polymer-element>