<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/core-input/core-input.html">

<polymer-element name="tsante-inputtext" attributes="value name required placeholder type">
    <template>
        <style>
        :host{
            position: relative;
        }
        core-input {
            padding-right: 18px;
            border: 1px solid black;
            width: inherit;
        }
        core-input.invalid{
            box-shadow: 0 0 3px red;
            border: none;
        }
        core-input input{
            box-shadow: none; /*FF fix*/
        }
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            margin-left: -22px;
            top: -2px;
            position: absolute;
        }
        a:hover {
            color: grey;
        }
        a:after {
            content: "✖";
        }
        a[hide] {
            visibility: hidden;
        }
        </style>
        <!--<input type="text" value="{{value}}"/>-->
        <core-input type="{{type}}" id="coreInput" inputValue="{{value}}" required="{{required}}" placeholder="{{placeholder}}"></core-input>
        <a href="javascript:;" on-click="{{deleteCB}}" hide?="{{value === ''}}"></a>
    </template>
    <script>
    Polymer({
        created: function(){
            this.value = null;
            this.name = "";
            this.required = false;
            this.placeholder = "";
            this.type = "text";
        },
        deleteCB: function(event, detail, sender) {
            this.value = "";
            var that = this;
            setTimeout(function(){
                that.validate(); // Chrome fix
            }, 100);
        },
        ready: function(){
            // var that = this;
            // this.$.coreInput.addEventListener("input", function(){
            //      console.log("ici", arguments);
            //      that.$.coreInput.checkValidity();
            //  });


            // this.$.coreInput.addEventListener("input-invalid", function(){
            //     console.log("INVALID");
            // });
            // this.$.coreInput.addEventListener("input-valid", function(){
            //    console.log("VALID"); 
            // });
        },
        validate: function(){
            return this.$.coreInput.checkValidity();
        }
    });
    </script>
</polymer-element>