{% extends './page.htm' %}

{% block title %}{{ "Agenda"|i18n }}{% endblock %}

{% block head %}
{% parent %}

<script src="/scripts/utils.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-agenda/zdk-agenda.html">

<style type="text/css">
	div.main {
		margin: 0;
		padding: 0;
	}
</style>

<style shim-shadowdom>


	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}

	zdk-agenda {
		height: 100%;
	}

	zdk-agenda::shadow .day-button{
		display: none;
	}
</style>

{% endblock %}

{% block content %}

	{% raw %}
	<zdk-agenda id="agenda" lang="en-gb" hourHeight="40" hourShow="8" view="week" editable="false"></zdk-agenda>

	<zdk-modal id="dialog-event"></zdk-modal>

	<script id="dialog-event-template" type="x-tmpl-mustache">
		<div class="modalContainer">
			<div class="modalTitleContainer">{{service.ref}}</div>
			<div class="modalContentContainer">
				<div class="row">Provider: {{service.provider}}</div>
				<div class="row">From {{service.startDate}} to {{service.endDate}}</div>
				<div class="row">
					<span class="frequency">{{service.frequency}}</span>
					{{#service.isDaily}}
						{{when.time}}
					{{/service.isDaily}}
					{{^service.isDaily}}
					<ul>
						{{#service.when}}
						<li>{{day}} at {{time}}</li>
						{{/service.when}}
					</ul>
					{{/service.isDaily}}
					<span class="duration">Length: {{service.duration}}</span>
				</div>
				<div class="row">
					{{service.detail}}
				</div>
			</div>
			<div class="modalButtonContainer"></div>
		</div>
	</script>
	{% endraw %}
	<script src="/tpl/agenda.js"></script>

{% endblock %}