{% extends './page.htm' %}

{% block title %}{{ "Beneficiary overview"|i18n }}{% endblock %}

{% block head %}
{% parent %}

{% endblock %}
{% block content %}
<style>
	@media (min-width: 768px) {
		div.colContainer {
			display: flex;
			box-sizing: border-box;
			overflow: hidden;
		}
		
		div.colContainer > zdk-panel {
			width:50%;
			padding-left:5px;
			padding-right:5px;
		}
	}
	
	zdk-panel {
		overflow: hidden;
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		width:100%;
	}
	

	div.colContainer zdk-panel:first-child {
		padding-left:0px;
	}

	div.colContainer zdk-panel:last-child {
		padding-right:0px;
	}
	
	div.event {
		height:30px;
		border-bottom:1px solid black;
	}
	
	zdk-panel[heading="Details"] div.row {
		display:block;
		height:25px;
	}
	zdk-panel[heading="Details"] div.row * {
		display:inline-block;
		height:25px;
		vertical-align: middle;
	}
	table#stakeholders {
		min-width:700px;
		white-space: nowrap
	}
	table tr {
		height:30px;
	}
	table td {
		padding-left:5px;
	}
	tr.referent {
		background: LightYellow;
		font-weight:700;
	}
</style>
  
<div class="colContainer">
	<zdk-panel id="personal" heading="{{ 'Personnal'|i18n }}">
		<div class="row">
			<div class="bold">{{beneficiary.name.family}} {{beneficiary.name.given}} ({{beneficiary.gender}})</div>
		</div>
		<div class="row">
			<label>{{ "Birth date"|i18n }} :</label><div>{{beneficiary.birthdate}}</div>
		</div>
		<div class="row">
			<label>{{ "Size"|i18n }} :</label><div>{{ Math.floor(beneficiary.size) }}{{ "m"|i18n }}{{ (beneficiary.size+"").split(".")[1] }}</div>
		</div>
		<div class="row">
			<label>{{ "Social id"|i18n }} : </label><div>{{beneficiary.socialID}}</div>
		</div>
		<div class="row">
			<label>{{ "Perimeter"|i18n }} : </label><div>{{beneficiary.perimeter}}</div>
		</div>
		<div class="row">
			<label>{{ "Referent"|i18n }} : </label><div>{%if beneficiary.referent %}{{beneficiary.referent.name.family}} {{beneficiary.referent.name.given}}{% else %}---{% endif %}</div>
		</div>
		<div class="telecom">
			{% for telecom in beneficiary.telecom %}
				<div class="row">
					<label>{{systemArray.items[telecom.system]}}  {% if telecom.use %}({{useArray.items[telecom.use]}}){% endif %} : </label><div>{{telecom.value}}</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<label>{{ "PhysioDom-Box"|i18n }} : </label><div>{{beneficiary.biomaster}}</div>
		</div>
		{% if admin %}
		<div class="row control">
            <span class="spacer"></span>
            <a href="/beneficiary/update"><button class="green small">{{ "Edit"|i18n }}</button></a>
        </div>
		{% endif %}
	</zdk-panel>
	 
	<zdk-panel id="addresses" heading="{{ 'Addresses'|i18n }}">
		{% for addr in beneficiary.address %}
			{% if !loop.first %}
				<hr>
			{% endif %}
			{% if addr.use %}<div>({{addr.use}})</div>{% endif %}
			{% for line in addr.line %}
				<div>{{line}}</div>
			{% endfor %}
			<div>{{addr.zip}} {{addr.city}}</div>
		{% endfor %}
	</zdk-panel>
</div>

<zdk-panel heading="{{ 'Events log'|i18n }}" collapsable="true" collapsed="false">
	<div class="event">Not yet implemented</div>
	<!--
	<div class="event"></div>
	<div class="event"></div>
	<div class="event"></div>
	<div class="event"></div>
	<div class="event"></div>
	-->
</zdk-panel>

<zdk-panel heading="{{ 'Active services'|i18n }}" collapsable="true" collapsed="false">
	<div>Not yet implemented</div>
	<!--
	<ul class="request" id="active">
		<li>
			<div class="ttable">
				<div class="trow">
					<div class="cell title">Meal delivery</div>
					<div class="cell startdate">from : 2014-03-27</div>
					<div class="cell stopdate">to : 2014-04-27</div>
				</div>
			</div>
			<div class="ttable">
				<div class="trow">
					<div class="cell spacer"></div>
					<div class="cell detail">All days at 11:30</div>
				</div>
			</div>
		</li>
		<li>
			<div class="ttable">
				<div class="trow">
					<div class="cell title">Accompaniment aged person</div>
					<div class="cell startdate">from : 2014-03-27</div>
					<div class="cell stopdate">to : -</div>
				</div>
			</div>
			<div class="ttable">
				<div class="trow">
					<div class="cell spacer"></div>
					<div class="cell detail">All weekdays from 10:30 to 11:30</div>
				</div>
			</div>
		</li>
	</ul>
	-->
</zdk-panel>

<zdk-panel heading="{{ 'Professional contacts'|i18n }}" collapsable="true" collapsed="true">
	<table id="stakeholders">
		<thead>
		<tr>
			<th style="min-width:200px">{{ "Name"|i18n }}</th>
			<th style="width:150px">{{ "Role"|i18n }}</th>
			<th style="width:150px">{{ "Phone"|i18n }}</th>
			<th style="width:250px">{{ "Email"|i18n }}</th>
		</tr>
		</thead>
		<tbody>
		{% for prof in beneficiary.professionals %}
		<tr {% if prof.referent %}class="referent"{% endif %}>
			<td>{{prof.name.family}} {{prof.name.given}}</td>
			<td>{% if roleArray.items[prof.role] %} {{roleArray.items[prof.role]}} {% else %} {{prof.role}} {% endif %}</td>
			<td>
				{% for telecom in prof.telecom %}
					{% if telecom.system !== "email" %}
						{{telecom.value}}
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{% for telecom in prof.telecom %}
					{% if telecom.system === "email" %}
						{{telecom.value}}
					{% endif %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</zdk-panel>

<zdk-panel heading="{{ 'Details'|i18n }}" collapsable="true" collapsed="true">
	<div style="-webkit-column-count: 2; -webkit-column-gap: 10px; -webkit-column-rule: 1px solid black; box-sizing: border-box">
	{% if beneficiary.entry %}
		<div class="row">
			<label>{{ "Demand"|i18n }} : </label><div>{{beneficiary.entry.demand}}</div>
		</div>
		<div class="row">
			<label>{{ "Start date"|i18n }} : </label><div>{{beneficiary.entry.startDate}}</div>
		</div>
		<div class="row">
			<label>{{ "Planned end date"|i18n }} : </label><div>{{beneficiary.entry.plannedEnd}}</div>
		</div>
		<div class="row">
			<label>{{ "End date"|i18n }} : </label><div>{{beneficiary.entry.endDate}}</div>
		</div>
		<div class="row">
			<label>{{ "Come from"|i18n }} : </label><div>{{beneficiary.entry.comeFrom}}</div>
		</div>
	{% endif %}
	<div class="row">
		<label>{{ "Deceased"|i18n }} : </label><div>{% if beneficiary.deceased %}{{ "Yes"|i18n }}{% else %}{{ "No"|i18n }}{% endif %}</div>
	</div>
	<div class="row">
		<label>{{ "Active"|i18n }} : </label><div>{% if beneficiary.active %}{{ "Yes"|i18n }}{% else %}{{ "No"|i18n }}{% endif %}</div>
	</div>
	<div class="row">
		<label>{{ "Marital status"|i18n }} : </label><div>{{maritalStatusArray.items[beneficiary.maritalStatus]}}</div>
	</div>
	{% if beneficiary.lifeCond %}
		<div class="row">
			<label>{{ "Way of life"|i18n }} : </label><div>{{wayOfLifeArray.items[beneficiary.lifeCond.wayOfLife]}}</div>
		</div>
		<div class="row">
			<label>{{ "Profession"|i18n }} : </label><div>{{professionArray.items[beneficiary.lifeCond.profession]}}</div>
		</div>
		{% if beneficiary.lifeCond.disability %}
			<div class="row">
				<label>{{ "Type of disability"|i18n }} : </label><div>{{disabilityArray.items[beneficiary.lifeCond.disability.type]}}</div>
			</div>
			<div class="row">
				<label>{{ "Disability level"|i18n }} : </label><div>{{beneficiary.lifeCond.disability.percent}}</div>
			</div>
		{% endif %}
	{% endif %}
	{% if beneficiary.diagnosis %}
		<div class="row">
			<label>{{ "General status"|i18n }} : </label><div>{{beneficiary.diagnosis.general}}</div>
		</div>
		<div class="row">
			<label>{{ "Nutritional status"|i18n }} : </label><div>{{beneficiary.diagnosis.nutritional}}</div>
		</div>
		<p>{{ "Chronic pathologies"|i18n }}</p>
		<div class="row">
			<label>{{ "Main diagnosis"|i18n }} : </label><div>{{disabilityArray.items[beneficiary.diagnosis.chronic.main]}}</div>
		</div>
		{% for assoDiag in beneficiary.diagnosis.chronic.associated %}
			{% if loop.first %}
				<ul>
			{% endif %}
				<li>
					<div class="row">
						<div>{{disabilityArray.items[assoDiag]}}</div>
					</div>
				</li>
			{% if loop.last %}
				</ul>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</zdk-panel>
<script>
	parent.document.querySelector("#beneficiary a").innerHTML = '{{ beneficiary.name.family }} {{ beneficiary.name.given }}';
	parent.highlight("/beneficiary/overview");
</script>
{% endblock %}
