{% extends './page.htm' %}

{% block title %}{{ "Beneficiary overview"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/tpl/beneficiaryOverview.js"></script>
{% endblock %}
{% block content %}
<style>
	@media (min-width: 768px) {
		div.colContainer {
			display: flex;
			box-sizing: border-box;
			overflow: hidden;
		}
		
		div.colContainer > zdk-panel {
			width:50%;
			padding-left:5px;
			padding-right:5px;
		}
	}
	
	zdk-panel {
		overflow: hidden;
		box-sizing: border-box;
		-webkit-box-sizing:border-box;
		width:100%;
	}
	

	div.colContainer zdk-panel:first-child {
		padding-left:0px;
	}

	div.colContainer zdk-panel:last-child {
		padding-right:0px;
	}
	
	div.event {
		height:30px;
		border-bottom:1px solid black;
	}
	
	zdk-panel[heading="Details"] div.row {
		display:block;
		height:25px;
	}
	zdk-panel[heading="Details"] div.row * {
		display:inline-block;
		height:25px;
		vertical-align: middle;
	}
	table#stakeholders {
		min-width:700px;
		white-space: nowrap
	}
	table tr {
		height:30px;
	}
	table td {
		padding-left:5px;
	}
	tr.referent {
		background: LightSkyBlue;
		font-weight:700;
	}
</style>
  
<div class="colContainer">
	<zdk-panel id="personal" heading="{{ 'Personal'|i18n }}">
		<div class="row">
			<div class="bold">{{beneficiary.name.family}} {{beneficiary.name.given}} ({{beneficiary.gender}})</div>
		</div>
		<div class="row">
			<label>{{ "Birth date"|i18n }} :</label><div>{{beneficiary.birthdate}}</div>
		</div>
		<div class="row">
			<label>{{ "Size"|i18n }} :</label><div>{{(beneficiary.size+"").replace('.','')}}{{ "cm"|i18n }}</div>
		</div>
		<div class="row">
			<label>{{ "Social id"|i18n }} : </label><div>{{beneficiary.socialID}}</div>
		</div>
		<div class="row">
			<label>{{ "Perimeter"|i18n }} : </label>
			{% if beneficiary.perimeter !== 'NONE'%}
				{% for key, item in perimeterArray.items %}
                	{% if beneficiary.perimeter == key %}
                		<div>{{item}}</div>
                	{%endif%}
                {% endfor %}
			{% endif %}	
		</div>
		<div class="row">
		<label>{{ "Referent"|i18n }} : </label>
		{% for professional in beneficiary.professionals %}
			{% if professional.referent %}
			<div>{{professional.name.family}} {{professional.name.given}}</div>
			{% endif %}
		{% endfor %}
		</div>
		<div class="telecom">
			{% for telecom in beneficiary.telecom %}
				<div class="row">
					<label>{{systemArray.items[telecom.system]}}  {% if telecom.use %}({{useArray.items[telecom.use]}}){% endif %} : </label><div>{{telecom.value}}</div>
				</div>
			{% endfor %}
		</div>
		<div class="row">
			<label>{{ "PhysioDom-Box"|i18n }} : </label><div>{{beneficiary.biomaster}}</div>
		</div>
		{% if rights.write %}
		<div class="row control">
						<button class="red small" onclick="initQueue();">{{ "Init"|i18n }}</button>&nbsp;
						{% if beneficiary.biomasterStatus %}
							( initialized )
			      {% endif %}
            <span class="spacer"></span>
            <a href="/beneficiary/update"><button class="green small">{{ "Edit"|i18n }}</button></a>
        </div>
		{% endif %}
	</zdk-panel>
	 
	<zdk-panel id="addresses" heading="{{ 'Addresses'|i18n }}">
		{% for addr in beneficiary.address %}
			{% if !loop.first %}
				<hr>
			{% endif %}
			{% if addr.use %}<div>({{addr.use}})</div>{% endif %}
			{% for line in addr.line %}
				<div>{{line}}</div>
			{% endfor %}
			<div>{{addr.zip}} {{addr.city}}</div>
		{% endfor %}
	</zdk-panel>
</div>

<zdk-panel heading="{{ 'Events log'|i18n }}" collapsable="true" collapsed="false">
	<tsante-list url="/api/beneficiary/events" pg="1" auto="true" autoRender="false" unresolved id="tsanteList" style="margin-top: 0;">
		<template is="auto-binding" repeat="{% raw %}{{item in list.items}}{% endraw %}">
			<div class="item">
				<div class="row">
					<div style="-webkit-flex:1; -ms-flex:1; flex:1">
						<div class="row">
						{% raw %}
							<span style="-webkit-flex:2; -ms-flex:2; flex:2;font-weight:bold">{{item.date}} ( {{item.dateFrom}} )</span>
							<span style="-webkit-flex:2; -ms-flex:2; flex:2;font-weight:bold">{{item.service}} </span>
							<span style="-webkit-flex:1; -ms-flex:1; flex:1">{{item.operation}}</span>
						{% endraw %}
						</div>
					</div>
				</div>
			</div>
		</template>
	</tsante-list>
</zdk-panel>

<zdk-panel heading="{{ 'Active services'|i18n }}" collapsable="true" collapsed="true">
	<div>{{'Not yet implemented'|i18n}}</div>
</zdk-panel>

<zdk-panel heading="{{ 'Professional contacts'|i18n }}" collapsable="true" collapsed="false">
	<table id="stakeholders">
		<thead>
		<tr>
			<th style="min-width:200px">{{ "Name"|i18n }}</th>
			<th style="width:150px">{{ "Role"|i18n }}</th>
			<th style="width:150px">{{ "Phone"|i18n }}</th>
			<th style="width:250px">{{ "Email"|i18n }}</th>
		</tr>
		</thead>
		<tbody>
		{% for prof in beneficiary.professionals %}
		<tr {% if prof.referent %}class="referent"{% endif %}>
			<td>{{prof.name.family}} {{prof.name.given}}</td>
			<td>{% if roleArray.items[prof.role] %} {{roleArray.items[prof.role]}} {% else %} {{prof.role}} {% endif %}</td>
			<td>
				{% for telecom in prof.telecom %}
					{% if telecom.system !== "email" %}
						<span class="bold">{{telecom.system}}: </span>
						<span>{{telecom.value}}</span><br>
					{% endif %}
				{% endfor %}
			</td>
			<td>
				{% for telecom in prof.telecom %}
					{% if telecom.system === "email" %}
						{{telecom.value}}
					{% endif %}
				{% endfor %}
			</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</zdk-panel>

<zdk-panel heading="{{ 'Details'|i18n }}" collapsable="true" collapsed="true">
	<div style="display: -webkit-flex; display: -ms-flexbox; display: flex;margin-bottom: 10px;">
		<div>
			<label style="width: 150px;">{{ "Demand"|i18n }} : </label>
		</div>
		<div flex style="display: -webkit-flex; display: -ms-flexbox; display: flex;box-sizing: border-box;">
			<textarea rows="2" disabled flex style="color:black;font-size:inherit;resize: none;">{{ beneficiary.entry.demand }}</textarea>
		</div>
	</div>
	<div style="-webkit-column-count: 2; -webkit-column-gap: 10px; -webkit-column-rule: 1px solid black; box-sizing: border-box">
	{% if beneficiary.entry %}
		<div class="row">
			<label>{{ "Start date"|i18n }} : </label><div>{{beneficiary.entry.startDate | date }}</div>
		</div>
		<div class="row">
			<label>{{ "Come from"|i18n }} : </label><div>{{destinationArray.items[beneficiary.entry.comeFrom]}}</div>
		</div>
		<div class="row">
			<label>{{ "Planned end"|i18n }} : </label><div>{% if beneficiary.entry.plannedEnd %}{{beneficiary.entry.plannedEnd | date }}{% endif %}</div>
		</div>
		<div class="row">
			<label>{{ "End date"|i18n }} : </label><div>{% if beneficiary.entry.endDate %}{{beneficiary.entry.endDate | date }}{% endif %}</div>
		</div>
		<div class="row">
			<label>{{ "Destination"|i18n }} : </label><div>{{destinationArray.items[beneficiary.entry.destination]}}</div>
		</div>
	{% endif %}
	<div class="row">
		<label>{{ "Deceased"|i18n }} : </label><div>{% if beneficiary.deceased %}{{ "Yes"|i18n }}{% else %}{{ "No"|i18n }}{% endif %}</div>
	</div>
	<div class="row">
		<label>{{ "Active"|i18n }} : </label><div>{% if beneficiary.active %}{{ "Yes"|i18n }}{% else %}{{ "No"|i18n }}{% endif %}</div>
	</div>
	<div class="row">
		<label>{{ "Marital status"|i18n }} : </label><div>{{maritalStatusArray.items[beneficiary.maritalStatus]}}</div>
	</div>
	{% if beneficiary.lifeCond %}
		<div class="row">
			<label>{{ "Way of life"|i18n }} : </label><div>{{wayOfLifeArray.items[beneficiary.lifeCond.wayOfLife]}}</div>
		</div>
		{% if beneficiary.lifeCond.disability %}
			<div class="row">
				<label>{{ "Type of disability"|i18n }} : </label><div>{{disabilityArray.items[beneficiary.lifeCond.disability.type]}}</div>
			</div>
			<div class="row">
				<label>{{ "Disability level"|i18n }} : </label><div>{{beneficiary.lifeCond.disability.percent}} %</div>
			</div>
		{% endif %}
	{% endif %}
	{% if beneficiary.diagnosis %}
		<div class="row">
			<label>{{ "General status"|i18n }} : </label><div>{{beneficiary.diagnosis.general}}</div>
		</div>
		<div class="row">
			<label>{{ "Nutritional status"|i18n }} : </label><div>{{beneficiary.diagnosis.nutritional}}</div>
		</div>
		<p>{{ "Chronic pathologies"|i18n }}</p>
		<div class="row">
			<label>{{ "Main diagnosis"|i18n }} : </label><div>{{diagnosisArray.items[beneficiary.diagnosis.chronic.main]}}</div>
		</div>
		{% for assoDiag in beneficiary.diagnosis.chronic.associated %}
			{% if loop.first %}
				<ul>
			{% endif %}
				<li>
					<div class="row">
						<div>{{diagnosisArray.items[assoDiag]}}</div>
					</div>
				</li>
			{% if loop.last %}
				</ul>
			{% endif %}
		{% endfor %}
	{% endif %}
	</div>
</zdk-panel>
<script>
	parent.document.querySelector("#beneficiary a").innerHTML = '{{ beneficiary.name.family }} {{ beneficiary.name.given }}';
	parent.highlight("/beneficiary/overview");
</script>
{% endblock %}
