{% extends './page.htm' %}
{% block title %}Data Recording{% endblock %}
{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/tpl/dataRecordEdit.js"></script>
{% endblock %}
{% block content %}

<div class="hidden" id="thresholdListValue">
    {% for key, val in thresholdList %}
        <div id="{{key}}">
            <span id="min"> {{val.min}}</span>
            <span id="max"> {{val.max}}</span>
        </div>
    {% endfor %}
    <div id="no-choice">
        <span id="min">-</span>
        <span id="max">-</span>
    </div>
</div>

{% macro selectThreshold(defaultVal) %}
    <select onchange="updateThreshold(this)" name="threshold">
        <option></option>
    {% for key, val in thresholdList %}
        <option id="{{key}}" value="{{key}}" {% if defaultVal && defaultVal === key %}selected{% endif %}>{{key}}</option>
    {% endfor %}
    </select>
{% endmacro %}

{% macro valueThreshold(type, param) %}
    {% for key, val in thresholdList %}

        {% if param === key %}
            {% if type === 'min' %}
                <div class="min-treshold spacing-around">{{val.min}}</div>
            {% endif %}

            {% if type === 'max' %}
                <div class="max-treshold spacing-around">{{val.max}}</div>
            {% endif %}
        {% endif %}

    {% endfor %}

    {% if param === undefined %}
        {% if type === 'min' %}
            <div class="min-treshold spacing-around">-</div>
        {% endif %}

        {% if type === 'max' %}
            <div class="max-treshold spacing-around">-</div>
        {% endif %}
    {% endif %}

{% endmacro %}

{% macro line() %}
<div id="ID{{item._id.toString()}}">
    <div class="readMode">
        <div class="row">
            <div class="col bold item-text">{{ item.text }}</div>
            <div class="col item-value">{{ item.value }}</div>
            <div class="col">
                {{ 'Min threshold' | i18n }}
                {{ valueThreshold('min', item.text) }}
            </div>
            <div class="col">
                {{ 'Max threshold' | i18n }}
                {{ valueThreshold('max', item.text) }}
            </div>
            <!-- {f% if admin %} -->
            <div>
                <button class="blue small" onclick="toggleEditMode('{{item._id.toString()}}')">Edit</button>
            </div>
            <div>
                <button class="red small" onclick="confirmDeleteItem('{{item._id.toString()}}')">Delete</button>
            </div>
            <!-- {f% endif %} -->
        </div>
    </div>
    <div class="updateMode hidden">
        <div class="row">
            <div class="col bold item-text">{{ selectThreshold(item.text) }}</div>
            <div class="col item-value"><input type="text" value="{{ item.value }}"/></div>
            <div class="col">
                {{ 'Min threshold' | i18n }}
                {{ valueThreshold('min', item.text) }}
            </div>
            <div class="col">
                {{ 'Max threshold' | i18n }}
                {{ valueThreshold('max', item.text) }}
            </div>
            <div>
                <button class="blue small" onclick="toggleEditMode('{{item._id.toString()}}')">Back</button>
            </div>
            <div>
                <button class="red small" onclick="confirmDeleteItem('{{item._id.toString()}}')">Delete</button>
            </div>
        </div>

    </div>
</div>
{% endmacro %}
{% macro addItem(category) %}
<div id="add{{category}}">
    <hr>
    <div id="newItems-{{category}}">

    </div>
    <div class="row control">
        <span class="spacer"></span>
        <button class="green small" onclick="addLine('{{category}}')">Add Item</button>
    </div>
</div>
{% endmacro %}

<script type="template" id="newItem">
    <div class="col bold">{{ selectThreshold() }}</div>
    <div class="col"><input type="text" value=""/></div>
    <div class="col">
        {{ 'Min threshold' | i18n }}
        {{ valueThreshold('min') }}
    </div>
    <div class="col">
        {{ 'Max threshold' | i18n }}
        {{ valueThreshold('max') }}
    </div>
    <div>
        <button class="blue small" onclick="removeLine(this)">Annuler</button>
    </div>
</script>

<div class="row title">
    <label class="title">
        <span id="datetime">
            {{dataRecordItems.datetime}}
        </span>
        {% if dataRecordItems.home %}
            {{ "From Home"|i18n }}
        {% else %}
            {{ "From Consultation"|i18n }} {{dataRecordItems.source.name.family}} {{dataRecordItems.source.name.given}}
        {% endif %}
    </label>
</div>



<zdk-panel heading="{{'Physiological parameters' |i18n}}" collapsable="false" collapsed="false">
{% for item in dataRecordItems.items.items %}
    {% if item.category === 'General' %}
        {{ line() }}
    {% endif %}
{% endfor %}
<!-- {f{ addItem('General') }} -->
</zdk-panel>
<zdk-panel heading="{{'Symptoms assessments' |i18n}}" collapsable="false" collapsed="false">
    {% for item in dataRecordItems.items.items %}
        {% if item.category === 'Symptoms' %}
            {{ line() }}
        {% endif %}
    {% endfor %}
<!-- {f{ addItem('Symptoms') }} -->
</zdk-panel>
<zdk-panel heading="{{'Questionnaires' |i18n}}" collapsable="false" collapsed="false">
    {% for item in dataRecordItems.items.items %}
        {% if item.category === 'HDIM' %}
            {{ line() }}
        {% endif %}
    {% endfor %}
<!-- {f{ addItem('HDIM') }} -->
</zdk-panel>
<div class="row control" style="height:60px; align-content: center">
    <span class="spacer"></span>
    <a href="/datarecord"><button class="blue big">back</button></a>
    <button class="green" onclick="save()">save</button>
</div>




<zdk-modal id="statusModal" closebutton="false">
    <div class="modalContainer">
        <div class="modalTitleContainer"></div>
        <div class="modalContentContainer"></div>
        <div class="modalButtonContainer"></div>
    </div>
</zdk-modal>

<div class="hidden">
    <div id="trad_save">{{ "Save"|i18n }}</div>
    <div id="trad_delete">{{ "Delete"|i18n }}</div>
    <div id="trad_error">{{ "Error"|i18n }}</div>
    <div id="trad_confirm_save">{{ "Are you sure you want to save those changes ?"|i18n }}</div>
    <div id="trad_confirm_delete">{{ "Are you sure you want to delete this item ?"|i18n }}</div>
    <div id="trad_error_occured">{{ "An error occured"|i18n }}</div>
    <div id="trad_yes">{{ "Yes"|i18n }}</div>
    <div id="trad_no">{{ "No"|i18n }}</div>
</div>

{% endblock %}



