{% extends './page.htm' %}
{% block title %}{{"Data Recording"|i18n}}{% endblock %}
{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<script src="/scripts/questionnaireButton.js"></script>
<script src="/tpl/dataRecordEdit.js"></script>
<style>
	select {
		min-width:100px;
	}
	input[type=text][type=number] {
		width: 100%;
	}
	h2 {
		margin: 0;
		color: white;
		background: gray;
		padding: 5px;
		font-size: 1em;
		margin-top: 7px;
	}

	#questionnaireIframe {
		display: none;
	}

	#questionnaireIframe.visible {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
	}
</style>
{% endblock %}

{% block content %}

{#
	Macro for :
	-select threshold
	-value threshold
	-line repeating (for existing items)
	-line adding (for new items)
#}

<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>

<script type="html/text" id="selectParam">
	{% if view === 'create'%}
	<select onchange="updateParam(this)" name="items[{% raw %}{{ idx }}{% endraw %}].text" required>
	{% else%}
	<select onchange="updateParam(this)" name="items[{% raw %}{{id}}{% endraw %}].text" required>
	{% endif%}
		<option></option>
	{% raw %}
		{{#lists}}
			<option value="{{ref}}" {% endraw %}{% if view !== 'create'%}{% raw %}{{#selection}}{{ref}}{{/selection}}{% endraw %}{% endif%}{% raw %} id="option-{{ref}}">{{labelLang}}</option>
		{{/lists}}
	{% endraw %}

	</select>
</script>

<div class="hidden no-validation alert-info-error">{{ "You cannot create a data record before validating all Health Statuses"|i18n}}</div>

<div id="content">
	{% macro line(cat) %}
	<div id="ID{{item._id.toString()}}" class="line">
		<div class="type hidden">{{ item.text }}</div>
		<div class="category hidden">{{cat}}</div>
		<div class="readMode">
			<div class="row">

				<div class="col" vertical layout>
					<div class="row">
						{% raw %}{{#item}}{% endraw %}
						<div class="col bold" style="-webkit-flex:2; -ms-flex:2; flex:2;">{% raw %}{{ labelLang }}{% endraw %} {% if item.automatic %}({{"Auto"|i18n}}){% endif %}</div>
						<div class="col item-value" style="max-width:150px">{{ item.value }}</div>
						{% if cat !== 'questionnaire' %}
						<div class="col" style="max-width:150px">{% raw %}{{ unitsLabel }}{% endraw %}</div>
						{% else %}
						<div class="col" style="max-width:150px">
						<button type="button" class="blue small answer not-disabled" data-answer="{{item.ref}}" onclick="showAnswer('{{item.ref}}')">{{"Questionnaire"|i18n}}</button>
						</div>
						{% endif %}
						
						{% if cat !== 'questionnaire' %}
						{% raw %}
						<div class="col" style="max-width:150px">
							<div class="min-treshold spacing-around">{{#threshold}}{{min}}{{/threshold}}</div>
						</div>
						<div class="col" style="max-width:150px">
							<div class="max-treshold spacing-around">{{#threshold}}{{max}}{{/threshold}}</div>
						</div>
						{% endraw %}
						{% else %}
						<div class="col" style="max-width:150px"></div>
						<div class="col" style="max-width:150px"></div>
						{% endif %}
						
						{% raw %}{{/item}}{% endraw %}
					</div>
				
					<div class="row marged" >
						<pre class="item-comment hidden">{{ item.comment }}</pre>
						{{ item.comment }}
					</div>
				</div>

				<div>
					{% if admin && beneficiary.active %}
					<div style="width:100px; text-align:right">
						<div>
							<button type="button" class="blue small" onclick="toggleEditMode('{{item._id.toString()}}')">{{"Edit"|i18n}}</button>
						</div>
						<div>
							<button type="button" class="red small" onclick="confirmDeleteItem('{{item._id.toString()}}')">{{"Delete"|i18n}}</button>
						</div>
					</div>
					{% else %}
					<div style="width:70px"></div>
					{% endif %}
				</div>

			</div>
		</div>
		<div class="updateMode hidden">
			<div class="row">

				{% if cat !== 'questionnaire' %}

					{% raw %}{{#item}}{% endraw %}
						<div class="col item-text" style="-webkit-flex:2; -ms-flex:2; flex:2;"></div>
						<div class="col item-value" style="max-width:150px">
						   <input type="number" step="any" value="{{ item.value }}" name="items[{{item._id.toString()}}].value"/></div>
						   {% raw %}
								<div class="col units" style="max-width:150px">{{ unitsLabel }}</div>
								<div class="col" style="max-width:150px">
								<div class="min-treshold spacing-around">{{#threshold}}{{min}}{{/threshold}}</div>
								</div>
								<div class="col" style="max-width:150px">
									<div class="max-treshold spacing-around">{{#threshold}}{{max}}{{/threshold}}</div>
								</div>
							{% endraw %}
					{% raw %}{{/item}}{% endraw %}

				{% else %}

					{% raw %}{{#item}}{% endraw %}
						<div class="col bold" style="-webkit-flex:2; -ms-flex:2; flex:2;">{% raw %}{{ labelLang }}{% endraw %} {% if item.automatic %}({{"Auto"|i18n}}){% endif %}</div>
						<div class="col item-value" style="max-width:150px">{{ item.value }}</div>
						<div class="col" style="max-width:150px">
						<button type="button" class="blue small answer not-disabled" data-answer="{{item.ref}}" onclick="showAnswer('{{item.ref}}')">{{"Questionnaire"|i18n}}</button>
						</div>

						<div class="col" style="max-width:150px"></div>
						<div class="col" style="max-width:150px"></div>
						
						<input type="hidden" class="questionnaire-answer" name="items[{{item._id.toString()}}].ref" value="{{ item.ref }}" />
						<input type="hidden" class="questionnaire-score" name="items[{{item._id.toString()}}].value" value="{{ item.value }}" />
						<input type="hidden" class="questionnaire-text" name="items[{{item._id.toString()}}].text" value="{{ item.text }}" />

					{% raw %}{{/item}}{% endraw %}

				{% endif %}


				<input name="items[{{item._id.toString()}}].category" class="item-category" type="hidden" value="{{item.category}}">
				<input name="items[{{item._id.toString()}}]._id" type="hidden" value="{{item._id.toString()}}">
				<input name="items[{{item._id.toString()}}].automatic" type="hidden" value="{{item.automatic}}">
				<input name="items[{{item._id.toString()}}].dataRecordID" type="hidden" value="{{item.dataRecordID.toString()}}">
				
				<div style="width:100px; text-align:right">
					{% if admin %}
					<div>
						<button type="button" class="blue small" onclick="toggleEditMode('{{item._id.toString()}}')">{{"Back"|i18n}}</button>
					</div>
					<div>
						<button type="button" class="red small" onclick="confirmDeleteItem('{{item._id.toString()}}')">{{"Delete"|i18n}}</button>
					</div>
					{% endif %}
				</div>
			</div>
			{% if cat !== 'questionnaire' %}
			<div class="row">
				<div class="col" style="max-width:200px"><span class="spacer"></span><span>{{"Comment"|i18n}} : </span></div>
				<div class="col">
					<input type="text" name="items[{{item._id.toString()}}].comment" value="{{ item.comment }}">
				</div>
				<div style="width:100px"></div>
			</div>
			{% else %}
			<div class="row">
				<textarea name="items[{{item._id.toString()}}].comment" class="questionnaire-comment" rows="10">{{ item.comment }}</textarea>
			</div>
			{% endif %}

		</div>
	</div>
	{% endmacro %}


	{% macro addItem(category) %}
	<div id="add{{category}}">
		<div class="category hidden">{{category}}</div>
		<div id="newItems-{{category}}">

		</div>
		<div class="row control">
			<span class="spacer"></span>
			{% if rights.write && beneficiary.active %}
			<button type="button" class="green small" onclick="addLine('{{category}}')">{{"Add"|i18n}}</button>
			{% endif %}
		</div>
	</div>
	{% endmacro %}


	<script type="template" id="newItem">
	<div class="row questionnaire-row">
		<div class="col item-text" style="-webkit-flex:2; -ms-flex:2; flex:2;"></div>
		<input type="hidden" class="questionnaire-text" name="items[{% raw %}{{idx}}{% endraw %}].text" value="" />
		{% raw %}{{#questionnaire}}{% endraw %}
			<div class="col" style="max-width:150px">
				<input  type="number" class="questionnaire-score" name="items[{% raw %}{{idx}}{% endraw %}].value" value="" disabled />
				<input type="hidden" class="questionnaire-score" name="items[{% raw %}{{idx}}{% endraw %}].value" value="" />
			</div>
			<input type="hidden" class="questionnaire-answer" name="items[{% raw %}{{idx}}{% endraw %}].ref" value="" />
			<div class="col questionnaire-button-container" style="max-width:150px">
				<span></span>
				<a class="button small blue disabled" href="">{{"Questionnaire"|i18n}}</a>
			</div>
			<div class="col" style="max-width:150px"></div>
			<div class="col" style="max-width:150px"></div>
		{% raw %}{{/questionnaire}}{% endraw %}
		
		{% raw %}{{^questionnaire}}{% endraw %}
			<div class="col" style="max-width:150px"><input type="number" step="any"  name="items[{% raw %}{{idx}}{% endraw %}].value"/></div>
			<div class="col" style="max-width:150px"><span class="units"></span></div>
			<div class="col" style="max-width:150px">
				<div class="min-treshold spacing-around"></div>
			</div>
			<div class="col" style="max-width:150px">
				<div class="max-treshold spacing-around"></div>
			</div>
		{% raw %}{{/questionnaire}}{% endraw %}

		<input name="items[{% raw %}{{idx}}{% endraw %}].category" id="new-item-category" type="hidden">
		<div style="width:100px; text-align:right">
			<button type="button" class="blue small" onclick="removeLine(this)">{{"Cancel"|i18n}}</button>
		</div>
	</div>
	{% raw %}{{#questionnaire}}{% endraw %}
		<div class="row">
			<textarea name="items[{% raw %}{{idx}}{% endraw %}].comment" class="questionnaire-comment" rows="10"></textarea>
		</div>
	{% raw %}{{/questionnaire}}{% endraw %}
	{% raw %}{{^questionnaire}}{% endraw %}
		<div class="row">
			<div class="col" style="max-width:200px"><span class="spacer"></span><span>{{"Comment"|i18n}} : </span></div>
			<div class="col">
				<input type="text" name="items[{% raw %}{{idx}}{% endraw %}].comment">
			</div>
			<div style="width:100px"></div>
		</div>
	{% raw %}{{/questionnaire}}{% endraw %}
	</script>


	{#
		The Page
		-create and update actions
	#}

	<div class="hidden health-status">{{dataRecordItems.healthStatus}}</div>

	<div class="row title">
		<label class="title">
			<span id="datetime">
				{{dataRecordItems.datetime}}
			</span>
			{% if dataRecordItems.healthStatus %}
				{{ "From Health Status"|i18n }}&nbsp;:&nbsp;{{dataRecordItems.source.name.family}} {{dataRecordItems.source.name.given}}
			{% else %}
			{% if dataRecordItems.home %}
				{{ "From Home"|i18n }}
			{% else %}
				{% if (dataRecordItems.subject && dataRecordItems.source._id === dataRecordItems.subject) || role === "beneficiary"  %}
				{{ "From Beneficiary"|i18n }}&nbsp;:&nbsp;{{dataRecordItems.source.name.family}} {{dataRecordItems.source.name.given}}
				{% else %}
				{{ "From Consultation"|i18n }}&nbsp;:&nbsp;{{dataRecordItems.source.name.family}} {{dataRecordItems.source.name.given}}
				{% endif %}
			{% endif %}
			{% endif %}
		</label>
		{% if !dataRecordItems.home && view === 'create' %}
			<label class="title">{{source.name.family}} {{source.name.given}}</label>
			<input type="hidden" name="sourceID" id="sourceID" value="{{source._id.toString()}}">
		{% endif %}
		<input type="hidden" id="createdDataRecordID" value="{{dataRecordItems._id}}">
	</div>

	<form name="dataRecord" id="dataRecord" onsubmit="create(); return false;">
		<zdk-panel heading="{{'Physiological parameters' |i18n}}" collapsable="false" collapsed="false">
			<div class="row row-legend">
				<div class="col bold" style="-webkit-flex:2; -ms-flex:2; flex:2;">{{ "Parameter"|i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Value"|i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Unit"|i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Threshold min" | i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Threshold max" | i18n }}</div>
			</div>
			{% if view === 'create'%}
				{{ addItem('General') }}
			{% else %}
				<h2 class="bold">{{"General"|i18n}}</h1>
				{% for item in dataRecordItems.items.items %}
					{% if item.category === 'General' %}
						{{ line('General') }}
					{% endif %}
				{% endfor %}
				<h2 class="bold">{{"HDIM"|i18n}}</h1>
				{% for item in dataRecordItems.items.items %}
					{% if item.category === 'HDIM' %}
						{{ line('HDIM') }}
					{% endif %}
				{% endfor %}
			{% endif %}

		</zdk-panel>
		<zdk-panel heading="{{'Symptoms assessments' |i18n}}" collapsable="false" collapsed="false">
			<div class="row row-legend">
				<div class="col bold" style="-webkit-flex:2; -ms-flex:2; flex:2;">{{ "Assessment"|i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Value"|i18n }}</div>
				<div class="col bold" style="max-width:150px"></div>
				<div class="col bold" style="max-width:150px"></div>
				<div class="col bold" style="max-width:150px"></div>
			</div>
			{% if view === 'create'%}
				{{ addItem('symptom') }}
			{% else %}
				{% for item in dataRecordItems.items.items %}
					{% if item.category === 'symptom' %}
						{{ line('symptom') }}
					{% endif %}
				{% endfor %}
			{% endif %}

		</zdk-panel>
		<zdk-panel heading="{{'Questionnaires' |i18n}}" collapsable="false" collapsed="false">
			<div class="row row-legend">
				<div class="col bold" style="-webkit-flex:2; -ms-flex:2; flex:2;">{{ "Questionnaire"|i18n }}</div>
				<div class="col bold" style="max-width:150px">{{ "Value"|i18n }}</div>
				<div class="col bold" style="max-width:150px"></div>
				<div class="col bold" style="max-width:150px"></div>
				<div class="col bold" style="max-width:150px"></div>
			</div>
			{% if view === 'create'%}
				{{ addItem('questionnaire') }}
			{% else %}
				{% for item in dataRecordItems.items.items %}
					{% if item.category === 'questionnaire' %}
						{{ line('questionnaire') }}
					{% endif %}
				{% endfor %}
			{% endif %}

		</zdk-panel>
		
		<div class="row control" style="height:60px; align-content: center">
			<span class="spacer"></span>
			{% if view === 'create'%}
			{% if rights.write && beneficiary.active %}
			<button id="saveBtn" class="green">{{"Save"|i18n}}</button>
			{% endif %}
			{% else %}
			<a href="/datarecord"><button type="button" class="blue big not-disabled">{{"Back"|i18n}}</button></a>
			{% if rights.write && beneficiary.active %}
			<button id="saveBtn" class="green">{{"Save"|i18n}}</button>
			{% endif %}
			{% endif %}
		</div>
	</form>
	
</div>

{% include "./modal.htm" %}
{% endblock %}



