{% extends './page.htm' %}

{% block title %}{{ "Filter / sort"|i18n }}{% endblock %}

{% block head %}
{% parent %}

<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/tpl/dataRecord.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">
{% endblock %}

{% block content %}
<zdk-panel heading="{{'Filter'|i18n}} / {{'Sort'|i18n}}" collapsable="true" collapsed="false">
	<div>
	<form class="filter" name="filter" autocomplete="off" onsubmit="validFilter(); return false;">
		<div class="row">
			<div class="col">
				<label class="collabel" for="startDate">{{ "Since"|i18n }} : </label>
				<div class="colcontent">
					<zdk-input-date class="startDate" name="startDate" style="z-index:100"></zdk-input-date>
				</div>
			</div>
			<div class="col">
				<label class="collabel" for="endDate">{{ "To"|i18n }} : </label>
				<div class="colcontent">
					<zdk-input-date class="endDate" name="endDate" style="z-index:100"></zdk-input-date>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<label class="collabel" for="provider">{{ "Provider"|i18n }} : </label>
				<div class="colcontent">
					<select name="source" id="provider">
					<option value=""></option>
							{% for item in professionals %}
							<option value="{{item._id.toString()}}" >{{item.name.given}} {{item.name.family}}</option>
							{% endfor %}
						</select>
				</div>
			</div>
		</div>
		<div class="row control">
			<span class="spacer"></span>
			<button type="button" class="red" onclick="resetFilter()">{{ "Reset"|i18n }}</button>
			<button class="green">{{ "Filter"|i18n }}</button>
		</div>
		</form>
		<div style="height:10px">&nbsp;</div>
		<hr/>
		<form class="order" name="order" autocomplete="off" onsubmit="validFilter(); return false;">
		<div class="row">
			<div class="col">
				<label>{{ "Sort"|i18n }}:</label>
				<select name="sort">
					<option value="source">{{ "Provider"|i18n }}</option>
					<option value="datetime">{{ "Date"|i18n }}</option>
					<option value="home">{{ "Type"|i18n }}</option>
				</select>
			</div>
			<div class="col">
				<label>{{ "Direction"|i18n }}:</label>
				<select name="dir">
					<option value="1">{{ "ascending"|i18n }}</option>
					<option value="-1">{{ "descending"|i18n }}</option>
				</select>
			</div>
		</div>
		<div class="row control">
			<span class="spacer"></span>

			<button type="button" class="red" onclick="resetOrder()">{{ "Reset"|i18n }}</button>
			<button class="green">{{ "Sort"|i18n }}</button>
		</div>
		</form>
	</div>

</zdk-panel>

<tsante-list url="/api/beneficiary/datarecords" pg="1" auto="true" autoRender="false" unresolved id="tsanteList">
<template is="auto-binding" repeat="{% raw %}{{item in list.items}}{% endraw %}">
	<div class="item">
		<div class="row">
			<div class="flex-line">
				<div class="row">
					<div class="col bold">{% raw %}{{ item.date }}{% endraw %}</div>
					<div class="col">
						<div class="{% raw %}{{item.home? 'show':'hide'}}{% endraw %}">
							{{ "From Home" |i18n}}
						</div>
						<div class="{% raw %}{{item.home? 'hide':'show'}}{% endraw %}">
							{{ "Consultation" |i18n}}
						</div>
					</div>
					<div class="col">{% raw %}{{item.source.name.family}} {{item.source.name.given}}{% endraw %}</div>
				</div>
			</div>
			<div><a href="datarecord/edit/{%raw%}{{item._id}}{% endraw %}"><button class="blue small" style="margin:5px">view</button></a></div>
		</div>
	</div>
</template>
</tsante-list>

{% endblock %}