{% extends './page.htm' %}

{% block title %}{{'Results synthesis'|i18n}}{% endblock %}

{% block head %}
{% parent %}

<script src="/scripts/utils.js"></script>
<script src="/tpl/dataRecordSynthesis.js"></script>
<link rel="stylesheet" href="/styles/dataRecordSynthesis.css">

<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<style>
	div.result {
		min-width: 50px;
		text-align: right;
	}
</style>
{% endblock %}

{% block content %}

<div class="row title">
	<label class="title">
		{{ "Result synthesis"|i18n }}
	</label>
</div>

<div id="synthesis">
	<div class="row">
		<div class="col"></div>
		<div class="col bold"><span class="spacer"></span>{{'Unit'|i18n}}<span class="spacer"></span></div>
		<div class="col bold"><span class="spacer"></span>{{'First Measure'|i18n}}<span class="spacer"></span></div>
		<div class="col bold"><span class="spacer"></span><span>{{'Last Measure'|i18n}}</span><span class="spacer"></span></div>
		<div class="col bold"><span class="spacer"></span>{{'Delta'|i18n}}<span class="spacer"></span></div>
	</div>
</div>

{% raw %}
<script type="template" id="tpl-line">
{{#parameter}}
	<div class="col">{{name}}</div>
	<div class="col"><span class="spacer"></span><div class="bold spacing-around">{{unit}}</div><span class="spacer"></span></div>
	<div class="col"><div class="bold spacing-around result">{{firstValue}}</div> ({{firstMeasureDatetime}})</div>
	<div class="col"><div class="bold spacing-around result">{{lastValue}}</div> ({{lastMeasureDatetime}})</div>
	<div class="col"><span class="spacer"></span><div class="bold spacing-around">{{delta}}</div></div>
{{/parameter}}
</script>
{% endraw %}

{% endblock %}