{% extends './page.htm' %}

{% block title %}{{ "Professionnal directory"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>
<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">
<script src="/tpl/directoryUpdate.js"></script>
{% endblock %}

{% block content %}
<style>
    .telecomContainer {
        margin-top: 5px;
        border-top: none;
        padding-top: 5px;
    }
    .telecomContainer:nth-child(n+3) {
        border-top: 1px solid black;
    }
    div.row {
        min-height: 30px;
    }
</style>
<script type="template" id="tplTelecomContainer">
    <div class="row">
        <input type="hidden" name="telecom[{%raw%}{{indx}}{%endraw%}].use" value="work">
        <!--
        <div class="col">
            <label>Use:</label>
            <select name="telecom[{%raw%}{{indx}}{%endraw%}].use"  style="min-width: 150px;">
                {% for item in use.items %}
                <option value="{{item.value}}" {{telecom_use_selected}}>{{item.label}}</option>
                {% endfor %}
            </select>
        </div>
        -->
        <div class="col">
            <label>System:</label>
            <select name="telecom[{%raw%}{{indx}}{%endraw%}].system" style="min-width: 150px;" onchange="checkEmailTypeValidation(this)">
                {% for item in system.items %}
                <option value="{{item.value}}" {{telecom_system_selected}}>{{item.label}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Value:</label>
            <input name="telecom[{%raw%}{{indx}}{%endraw%}].value" type="{%raw%}{{telecom_email_type_default}}{%endraw%}" class="text" />
        </div>
        <div>
            <span class="spacer"></span>
            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
        </div>
    </div>
</script>
    <core-ajax url="/api/directory/" handleAs="json"></core-ajax>
    <div class="mainContainer">
        <form name="directoryForm" onsubmit="checkForm(); return false;" autocomplete="off">
            <zdk-panel heading="{{'Identity' |i18n}}" collapsable="false" collapsed="false">
                <input type="hidden" name="_id" value="{{professional._id.toString()}}">
                <div class="row">
                    <label {%raw%}{{organization_disabled}}{%endraw%}>Organization:</label>
                    <input type="checkbox" name="organization" onchange="checkOrganization()" {% if professional && professional.organization===true %}checked{% endif %} />
                </div>
                <div class="row">
                    <label>Name</label>
                    <input type="text" name="name.family" placeholder="Mandatory field" required value="{{professional.name.family}}" />
                </div>
                
                <div id="nonOrgContainer">
                    <div class="row">
                        <label>Given:</label>
                        <input type="text" name="name.given" placeholder="Mandatory field" required value="{{professional.name.given}}" />
                    </div>
                    <div class="row">
                        <label>Gender:</label>
                        <input type="radio" name="gender" value="M" {% if professional.gender == 'M' %}checked{% endif %} />Man
                        <input type="radio" name="gender" value="F" {% if professional.gender == 'F' %}checked{% endif %} />Woman
                    </div>
                    <div class="row">
                        <label>{{ "Job" | i18n }}:</label>
                        <select name="job" required>
                            {% for item in job.items %}
                            <option value="{{item.value}}" {% if  professional.job == item.value %}selected{% endif %}>{{item.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <label>{{ "Role" | i18n }}:</label>
                    <select name="role" required>
                        {% for item in role.items %}
                        <option value="{{item.value}}" {% if professional.role == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label>{{ "Language" | i18n }} :</label>
                    <select name="communication">
                        {% for item in communication.items %}
                        <option value="{{item.value}}" {% if professional.communication == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label>{{ "Perimeter" | i18n }}:</label>
                    <select name="perimeter">
                        {% for item in perimeter.items %}
                        <option value="{{item.value}}" {% if professional.perimeter == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </zdk-panel>
            <!--
            <fieldset>
                <legend>Status</legend>
                <div class="row">
                    <label {%raw%}{{organization_disabled}}{%endraw%}>Organization:</label>
                    <input type="checkbox" name="organization" onchange="checkOrganization()" {%raw%}{{organization_disabled}} {{organization_checked}}{%endraw%}/>
                </div>
                <div class="row">
                    <label>Active:</label>
                    <input type="checkbox" name="active" {% if professional && professional.active===true %}checked{% endif %}/>
                </div>
            </fieldset>
            -->
            <zdk-panel heading="{{'Telecom' |i18n}}" collapsable="false" collapsed="false">
                {% if !professional.telecom %}
                <div class="telecomContainer">
                    <div class="row">
                        <input type="hidden" name="telecom[0].use" value="work">
                        <!--
                        <div class="col">
                            <label>Use:</label>
                            <select name="telecom[0].use" required>
                                {% for item in use.items %}
                                <option value="{{item.value}}" {% if (!entry.use && item.value=='work')||entry.use==item.value %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        -->
                        <div class="col">
                            <label>System:</label>
                            <select name="telecom[0].system" onchange="checkEmailTypeValidation(this)" required>
                                {% for item in system.items %}
                                <option value="{{item.value}}" {% if item.value=='email' %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Value:</label>
                            <input name="telecom[0].value" value="" type="email" />
                        </div>
                        <div class="col">
                            <span class="spacer"></span>
                            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
                        </div>>
                    </div>
                </div>
                {% else %}
                {% for entry in professional.telecom %}
                <div class="telecomContainer">
                    <div class="row">
                        <input type="hidden" name="telecom[{{loop.index}}].use" value="work">
                        <!--
                        <div class="col">
                            <label>Use:</label>
                            <select name="telecom[{{loop.index}}].use" style="min-width: 150px;" required>
                                {% for item in use.items %}
                                <option value="{{item.value}}" {% if (!entry.use && item.value=='work')||entry.use==item.value %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        -->
                        <div class="col">
                            <label>System:</label>
                            <select name="telecom[{{loop.index}}].system" style="min-width: 150px;" onchange="checkEmailTypeValidation(this)" required>
                                {% for item in system.items %}
                                <option value="{{item.value}}" {% if entry.system==item.value %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Value:</label>
                            <input name="telecom[{{loop.index}}].value" value="{{entry.value}}" type="{% if entry.system=='email' %}email{% else %}text{% endif %}" />
                        </div>
                        <div>
                            <span class="spacer"></span>
                            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div id="addTelecomBtn" class="row control">
                    <span class="spacer"></span>
                    <button class="blue small" type="button" onclick="addTelecom()">Add</button>
                </div>
            </zdk-panel>
            <zdk-panel heading="{{'Address' |i18n}}" collapsable="false" collapsed="false">
                <input type="hidden" name="address.use" value="work">
                <!--
                <div class="row">
                    <label>Use:</label>
                    <select name="address.use" required>
                        {% for item in use.items %}
                        <option value="{{item.value}}" {% if (!professional.address && item.value=='work')||professional.address.use==item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                -->
                <!--
                <div class="row">
                    <label>Text:</label>
                    <input type="text" name="address.text" value="{{professional.address.text}}" />
                </div>
                -->
                <div class="row">
                    <label>Street :</label>
                    <!-- Line break is needed to place each line -->
                    <textarea name="address.line">{% for line in professional.address.line %}{{line}}
{% endfor %}</textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <label>{{ "Zip code"|i18n }}</label>
                        <input type="text" name="address.zip" value="{{professional.address.zip}}" />
                    </div>
                    <div class="col">
                        <label style="width:80px">{{ "City"|i18n }}</label>
                        <input type="text" name="address.city" value="{{professional.address.city}}" />
                    </div>
                </div>
            </zdk-panel>
            <zdk-panel heading="{{'Account' |i18n}}" collapsable="false" collapsed="false">
                <div class="row">
                    <label>Login:</label>
                    <input type="text" name="account.login" value="{{professional.account.login}}" />
                </div>
                <div class="row">
                    <label>Change password:</label>
                    <input type="password" name="account.password" />
                </div>
                <div class="row">
                    <label>Confirm password:</label>
                    <input type="password" name="checkAccountPassword" />
                </div>
                <div class="row">
                    <label>Active:</label>
                    <input type="checkbox" name="active" {% if professional && professional.active===true %}checked{% endif %}/>
                </div>
            </zdk-panel>
            <br />
            <div class="row">
                <span class="spacer"></span>
            <div class="buttonContainer">
                {% if professional._id %}
                <button id="deleteItem" class="red" type="button" onclick="confirmDelete()">delete</button>
                {% endif %}   
                <button type="button" class="blue" onclick="window.history.back()">cancel</button>
                {% if professional._id %}
                <button id="saveItemBtn" class="green">save</button>
                {% else %}
                <button id="createItemBtn" class="green">create</button>
                {% endif %}
            </div>
            </div>
        </form>
    </div>
    <zdk-modal closebutton="false">
        <div class="modalContainer">
            <div class="modalTitleContainer hidden"></div>
            <div class="modalContentContainer hidden"></div>
            <div class="modalButtonContainer hidden"></div>
        </div>
    </zdk-modal>
    <div class="hidden">
        <div id="trad_update">Update</div>
        <div id="trad_create">Create</div>
        <div id="trad_delete">Delete</div>
        <div id="trad_success">Success</div>
        <div id="trad_error">Error</div>
        <div id="trad_errorFormValidation">Error in form validation</div>
        <div id="trad_confirm_update">Are you sure you want to update this item ?</div>
        <div id="trad_confirm_create">Are you sure you want to create this item ?</div>
        <div id="trad_confirm_delete">Are you sure you want to delete this item ?</div>
        <div id="trad_success_update">Item successfully updated</div>
        <div id="trad_success_create">Item successfully created</div>
        <div id="trad_success_delete">Item successfully deleted</div>
        <div id="trad_error_occured">An error occured</div>
        <div id="trad_error_password">Passwords are not equal</div>
        <div id="trad_error_email_required">You must add an email in telecom field</div>
        <div id="trad_incomplete_address">Address is incomplete</div>
        <div id="trad_yes">Yes</div>
        <div id="trad_no">No</div>
        <div id="trad_ok">OK</div>
    </div>
{% endblock %}
