{% extends './page.htm' %}

{% block title %}{{ "Professionnal directory"|i18n }}{% endblock %}

{% block head %}
{% parent %}

<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>

<script src="/tpl/directoryUpdate.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">

{% endblock %}

{% block content %}
<style>
    .telecomContainer {
        margin-top: 5px;
        border-top: none;
        padding-top: 5px;
    }
    .telecomContainer:nth-child(n+3) {
        border-top: 1px solid black;
    }
    div.row {
        min-height: 30px;
    }
</style>
<script type="template" id="tplTelecomContainer">
    <div class="row">
        <input type="hidden" name="telecom[{%raw%}{{indx}}{%endraw%}].use" value="work">
        <div class="col">
            <label>System:</label>
            <select name="telecom[{%raw%}{{indx}}{%endraw%}].system" style="min-width: 150px;" onchange="checkEmailTypeValidation(this)">
                {% for item in system.items %}
                <option value="{{item.value}}" {{telecom_system_selected}}>{{item.label}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>Value:</label>
            <input name="telecom[{%raw%}{{indx}}{%endraw%}].value" type="{%raw%}{{telecom_email_type_default}}{%endraw%}" class="text" />
        </div>
        <div>
            <span class="spacer"></span>
            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
        </div>
    </div>
</script>
    <core-ajax url="/api/directory/" handleAs="json"></core-ajax>
    <div class="mainContainer">
        <form name="directoryForm" onsubmit="checkForm(); return false;" autocomplete="off">
            <zdk-panel heading="{{'Identity' |i18n}}" collapsable="false" collapsed="false">
                <input type="hidden" name="_id" value="{{professional._id.toString()}}">
                <div class="row">
                    <label {%raw%}{{organization_disabled}}{%endraw%}>Organization:</label>
                    <input type="checkbox" name="organization" onchange="checkOrganization()" {% if professional && professional.organization===true %}checked{% endif %} />
                </div>
                <div class="row">
                    <label>Name</label>
                    <input type="text" name="name.family" placeholder="Mandatory field" required value="{{professional.name.family}}" />
                </div>
                
                <div id="nonOrgContainer">
                    <div class="row">
                        <label>Given:</label>
                        <input type="text" name="name.given" placeholder="Mandatory field" required value="{{professional.name.given}}" />
                    </div>
                    <div class="row">
                        <label>Gender:</label>
                        <input type="radio" name="gender" value="M" {% if professional.gender == 'M' %}checked{% endif %} />Man
                        <input type="radio" name="gender" value="F" {% if professional.gender == 'F' %}checked{% endif %} />Woman
                    </div>
                    <div class="row">
                        <label>{{ "Job" | i18n }}:</label>
                        <select name="job" required>
                            {% for item in job.items %}
                            <option value="{{item.value}}" {% if  professional.job == item.value %}selected{% endif %}>{{item.label}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                
                <div class="row">
                    <label>{{ "Role" | i18n }}:</label>
                    <select name="role" required>
                        {% for item in role.items %}
                        <option value="{{item.value}}" {% if professional.role == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label>{{ "Language" | i18n }} :</label>
                    <select name="communication">
                        {% for item in communication.items %}
                        <option value="{{item.value}}" {% if professional.communication == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label>{{ "Perimeter" | i18n }}:</label>
                    <select name="perimeter">
                        {% for item in perimeter.items %}
                        <option value="{{item.value}}" {% if professional.perimeter == item.value %}selected{% endif %}>{{item.label}}</option>
                        {% endfor %}
                    </select>
                </div>
            </zdk-panel>
            <zdk-panel heading="{{'Telecom' |i18n}}" collapsable="false" collapsed="false">
                {% if !professional.telecom %}
                <div class="telecomContainer">
                    <div class="row">
                        <input type="hidden" name="telecom[0].use" value="work">
                        <div class="col">
                            <label>System:</label>
                            <select name="telecom[0].system" onchange="checkEmailTypeValidation(this)" required>
                                {% for item in system.items %}
                                <option value="{{item.value}}" {% if item.value=='email' %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Value:</label>
                            <input name="telecom[0].value" value="" type="email" />
                        </div>
                        <div class="col">
                            <span class="spacer"></span>
                            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
                        </div>
                    </div>
                </div>
                {% else %}
                {% for entry in professional.telecom %}
                <div class="telecomContainer">
                    <div class="row">
                        <input type="hidden" name="telecom[{{loop.index}}].use" value="work">
                        <div class="col">
                            <label>System:</label>
                            <select name="telecom[{{loop.index}}].system" style="min-width: 150px;" onchange="checkEmailTypeValidation(this)" required>
                                {% for item in system.items %}
                                <option value="{{item.value}}" {% if entry.system==item.value %}selected{% endif %}>{{item.label}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label>Value:</label>
                            <input name="telecom[{{loop.index}}].value" value="{{entry.value}}" type="{% if entry.system=='email' %}email{% else %}text{% endif %}" />
                        </div>
                        <div>
                            <span class="spacer"></span>
                            <button type="button" class="red small" onclick="deleteTelecom(this)">delete</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                <div id="addTelecomBtn" class="row control">
                    <span class="spacer"></span>
                    <button class="blue small" type="button" onclick="addTelecom()">Add</button>
                </div>
            </zdk-panel>
            <zdk-panel heading="{{'Address' |i18n}}" collapsable="false" collapsed="false">
                <input type="hidden" name="address.use" value="work">
                <div class="row">
                    <label>Street :</label>
                    <!-- Line break is needed to place each line -->
                    <textarea name="address.line">{% for line in professional.address.line %}{{line}}
{% endfor %}</textarea>
                </div>
                <div class="row">
                    <div class="col">
                        <label>{{ "Zip code"|i18n }}</label>
                        <input type="text" name="address.zip" value="{{professional.address.zip}}" />
                    </div>
                    <div class="col">
                        <label style="width:80px">{{ "City"|i18n }}</label>
                        <input type="text" name="address.city" value="{{professional.address.city}}" />
                    </div>
                </div>
            </zdk-panel>
            <zdk-panel heading="{{'Account' |i18n}}" collapsable="false" collapsed="false">
                <div class="row">
                    <label>Login:</label>
                    <input type="text" name="account.login" value="{{professional.account.login}}" />
                </div>
                <div class="row">
                    <label>Change password:</label>
                    <input type="password" name="account.password" class="account-password" onkeyup="checkPassword(this)" />
                </div>
                <div class="row">
                    <label>Confirm password:</label>
                    <input type="password" name="checkAccountPassword" class="account-check-password" onkeyup="checkPassword(this)" />
                </div>
                <div class="row tip">
                    Info: The password must contain at least 1 uppercase, 1 lowercase, 1 special character and have at least 8 characters
                </div>
                {% if professional.hasPassword %}
                <div class="row">
                    <label>Active:</label>
                    <input type="checkbox" name="active" class="account-activation" {% if professional && professional.active===true %}checked{% endif %}/>
                </div>
                {% else %}
                    <input type="checkbox" name="active" class="hidden" checked />
                {% endif %}
            </zdk-panel>
            <br />
            <div class="row">
                <span class="spacer"></span>
            <div class="buttonContainer">
                {% if professional._id && sessionID.toString() !== professional._id.toString() %}
                <button id="deleteItem" class="red" type="button" onclick="confirmDelete()">delete</button>
                {% endif %}
                <button type="button" class="blue" onclick="window.history.back()">cancel</button>
                {% if professional._id %}
                <button id="saveItemBtn" class="green">save</button>
                {% else %}
                <button id="createItemBtn" class="green">create</button>
                {% endif %}
            </div>
            </div>
        </form>
    </div>

{% include 'modal.htm' %}

{% endblock %}