{% extends './page.htm' %}

{% block title %}{{ "Professionnal directory"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="tpl/directory.js"></script>
<style>
    .item.disabled div:first-child { opacity:0.7 }
</style>
{% endblock %}

{% block content %}
    <zdk-panel heading="{{"Filter"|i18n}} / {{"Sort"|i18n}}" collapsable="true" collapsed="true">
        <form class="filter" name="filter" onsubmit="validFilter(); return false;">
            <div class="row">
                <label>{{"Name"|i18n}}:</label>
                <input type="text" name="nameTxt" />
            </div>
            <div class="row ">
                <label>Perimeter:</label>
                <select name="perimeter">
                    <option value=""></option>
                    <option value="todo1">todo1</option>
                    <option value="todo2">todo2</option>
                </select>
                <label>Active status:</label>
                <select name="active">
                    <option value="activeAllData">all</option>
                    <option value="activeTrueData">active</option>
                    <option value="activeFalseData">not active</option>
                </select>
            </div>
            <hr>
            <div class="row">
                <label>Sort:</label>
                <select name="sortSelection">
                    <option value="nameData">name</option>
                    <option value="perimeterData">perimeter</option>
                </select>
                <label>Direction:</label>
                <select name="sortDirection">
                    <option value="ascData">ascending</option>
                    <option value="descData">descending</option>
                </select>
            </div>
            <div class="row control">
                <span class="spacer"></span>
                <button type="button" class="red" onclick="resetFilter()">Reset</button>
                <button class="green">Valid</button>
            </div>
        </form>
    </zdk-panel>

    <tsante-list url="/api/directory" offset="20" auto="true" unresolved id="tsanteList">
        <template is="auto-binding" repeat="{% raw %}{{item, i in list.items}}{% endraw %}">
            <div class="item {% raw %}{{!item.active ? 'disabled' : ''}}{% endraw %}">
                <div class="row">
                    <div style="-webkit-flex:1; -ms-flex:1; flex:1">
                        <div class="row">
                            <div class="col">
                                <span class="name" style="-webkit-flex:2; -ms-flex:2; flex:2;font-weight:bold">
                                    {% raw %}{{!item.organization ? item.name.family+" "+(item.name.given ? item.name.given : "")+" ("+item.gender+")" : item.name.family}}{% endraw %}
                                </span>
                            </div>
                            <div class="col">
                                <span class="communication" style="-webkit-flex:1; -ms-flex:1; flex:1">
                                    <template repeat="{% raw %}{{telecomItem in item.telecom}}{% endraw %}">
                                        <template if="{% raw %}{{telecomItem.system === 'email'}}{% endraw %}">
                                            <a class="email" href="mailto:{% raw %}{{telecomItem.value}}{% endraw %}">{% raw %}{{telecomItem.value}}{% endraw %}</a>
                                        </template>
                                    </template>
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="role" style="padding-left:50px;flex:1">role : {% raw %}{{item.role}}{% endraw %}</div>
                                <div class="job" style="flex:1">job : {% raw %}{{item.job}}{% endraw %}</div>
                            </div>
                            <div class="col">
                                <template repeat="{% raw %}{{telecomItem in item.telecom}}{% endraw %}">
                                    <template if="{% raw %}{{telecomItem.system !== 'email'}}{% endraw %}">
                                        <span class="{% raw %}{{telecomItem.system}}{% endraw %}">{% raw %}{{telecomItem.value}}{% endraw %}</span>
                                    </template>
                                </template>
                            </div>
                        </div>
                    </div>
                    <div>
                        <template if="{% raw %}{{item.address && item.address.line && item.address.line.length > 0 || item.address.zip || item.address.city}}{% endraw %}">
                            <button type="button" class="green small" onclick="toggleHiddenNode(this, '.address')">detail</button>
                        </template>
                        {% if admin %}
                        <a href="/directory/{% raw %}{{item._id}}{% endraw %}"><button class="blue small" type="button" onclick="/* updateDirectory({% raw %}{{i}}{% endraw %}) */">edit</button></a>
                        {% endif %}
                    </div>
                </div>
                <template if="{% raw %}{{item.address}}{% endraw %}">
                    <div class="address hidden" style="margin-left:50px;border-top:1px solid black">
                        <template repeat="{% raw %}{{lineItem in item.address.line}}{% endraw %}">
                            <div class="row">{% raw %}{{lineItem}}{% endraw %}</div>
                        </template>
                        <div class="row">{% raw %}{{item.address.zip}} {{item.address.city}}{% endraw %}</div>
                    </div>
                </template>
            </div>
        </template>
    </tsante-list>

    {% if admin %}
    <div class="row control">
        <span class="spacer"></span>
        <button id="addEntry" class="blue" type="button" onclick="updateDirectory()">Add entry</button>
    </div>
    {% endif %}
{% endblock %}
