{% extends './page.htm' %}

{% block title %}{{ "Basic health services" | i18n }}{% endblock %}

{% block head %}
{% parent %}
<style>
	div.col05 {
		width:130px;
	}
	div.service {
		padding:5px;
		border:1px solid lightgray;
		border-bottom:2px solid black;
		margin-bottom:10px;
	}
	div.control button { margin-left:10px; }
</style>
{% endblock %}

{% block content %}
<div class="row title">
	<label class="title">Basic health services</label>
</div>

<div class="row control" style="margin-bottom:20px">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>

<div class="service">
	<div class="row h1">
		<div class="bold data-text">Titre de la prestation</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Prescriber"|i18n}}</label><span>Claire Archer</span>
		</div>
		<div class="col">
			<label>{{"Provider"|i18n}}</label><span>Albert Dupont</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col" style="width:200px">
			<label>{{"Detail of the service"|i18n}}</label>
		</div>
		<div class="col">
			<pre>detail of the service<br/>Max 5 lines of 60 characters</pre>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Start date"|i18n}}</label><span>data.startDate</span>
		</div>
		<div class="col">
			<label>{{"End date"|i18n}}</label><span>data.endDate</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Frequency"|i18n}}</label><span>every month</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<ul>
			<li class="day">Monday {{"at" | i18n}} 10:00</li>
			</ul>
		</div>
	</div>

	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Start at"|i18n}}</label><span>10:00</span>
		</div>
		<div class="col">
			<label>{{"Time of service"|i18n}}</label><span>02:00</span>
		</div>
	</div>
	
	<div class="row h1 control">
		<span class="spacer"></span>
		<button type="button" class="small red">{{"Delete"|i18n}}</button>
		<button type="button" class="small green">{{"Edit"|i18n}}</button>
	</div>
</div>

<div class="service">
	<div class="row h1">
		<div class="bold data-text">Titre de la prestation</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Prescriber"|i18n}}</label><span>Claire Archer</span>
		</div>
		<div class="col">
			<label>{{"Provider"|i18n}}</label><span>Albert Dupont</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col" style="width:200px">
			<label>{{"Detail of the service"|i18n}}</label>
		</div>
		<div class="col">
			<pre>detail of the service<br/>Max 5 lines of 60 characters</pre>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Start date"|i18n}}</label><span>data.startDate</span>
		</div>
		<div class="col">
			<label>{{"End date"|i18n}}</label><span>data.endDate</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Frequency"|i18n}}</label><span>every month</span>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<ul>
				<li class="day">Monday {{"at" | i18n}} 10:00</li>
			</ul>
		</div>
	</div>
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Start at"|i18n}}</label><span>10:00</span>
		</div>
		<div class="col">
			<label>{{"Time of service"|i18n}}</label><span>02:00</span>
		</div>
	</div>
	
	<div class="row h1 control">
		<span class="spacer"></span>
		<button type="button" class="small red">{{"Delete"|i18n}}</button>
		<button type="button" class="small green">{{"Edit"|i18n}}</button>
	</div>
</div>


<div class="row control">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>

{% include "./modal.htm" %}
{% endblock %}