{% extends './page.htm' %}
  
{% block title %}{{ "Lists management"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>
<link rel="stylesheet" href="/styles/listsManager.css" charset="UTF-8" />
<script src="/tpl/listsManager.js"></script>
{% endblock %}
  
{% block content %}
<script type="template" id="tplItemContainer">
    <div class="row">
        <div class="col">
            <label>{{ "Reference"|i18n }}:</label>
            <input type="text" name="items[{% raw %}{{idx}}{% endraw %}].ref" onblur="refreshDefaultValue('{% raw %}{{listName}}{% endraw %}')"/>
        </div>
        <div class="col">
            <label>{{ "Value"|i18n }}:</label>
            <input type="text" name="items[{% raw %}{{idx}}{% endraw %}].label.{{lang}}" />
        </div>
        <div class="col">
            <label>{{ "Active"|i18n }}:</label>
            <input type="checkbox" name="items[{% raw %}{{idx}}{% endraw %}].active" value="true" />
        </div>
        <div class="col itemBtnContainer">
            <button type="button" class="small red" onclick="deleteItem(this)">{{ "Delete"|i18n }}</button>
        </div>
    </div>
</script>

<div class="mainContainer">
    <div class="listContainer">
        {% for list in lists.items %}
        <zdk-panel bgcolor="gray" heading="{{list.name}}" collapsable="true" collapsed="true">
            <form name="{{list.name}}" autocomplete="off" onsubmit="checkForm(this); return false;">
                <input type="hidden" name="name" value="{{list.name}}"/>
                <input type="hidden" name="editable" value="{{list.editable}}"/>
                {% if list.editable %}
                    <div class="row">
                        <label>{{ "Editable"|i18n }}:</label>
                        <input type="checkbox" name="editable" value="true" checked onclick="edit(this)"/>
                    </div>
                {% endif %}
                <div class="row">
                    <label>{{ "Default value"|i18n }}:</label>
                    <select name="defaultValue" {% if !list.editable %}disabled{% endif%}>
                        <option value="null" {% if list.defaultValue === null %}selected{% endif %}>{{ "-- No default value --"|i18n }}</option>
                        {% for item in list.items %}
                        <option value="{{item.ref}}" {% if list.defaultValue === item.ref %}selected{% endif %}>{{item.label[lang]}}</option>
                        {% endfor %}
                    </select>
                </div>
                <p>Items:</p>
                {% for item in list.items %}
                    <div class="itemContainer">
                        <div class="row">
                            <div class="col">
                                <label>{{ "Reference"|i18n }}:</label>
                                <input type="text" name="items[{{loop.index}}].ref" value="{{item.ref}}" onblur="refreshDefaultValue('{{list.name}}')" {% if !list.editable %}disabled{% endif%}/>
                            </div>
                            <div class="col">
                                <label>{{ "Value"|i18n }}:</label>
                                <input type="text" name="items[{{loop.index}}].label.{{lang}}" value="{{item.label[lang]}}" {% if !list.editable %}disabled{% endif%} />
                            </div>
                            <div class="col">
                                <label>{{ "Active"|i18n }}:</label>
                                <input type="checkbox" name="items[{{loop.index}}].active" value="true" {% if item.active %}checked{% endif %} {% if !list.editable %}disabled{% endif%}/>
                            </div>
                            <div class="col">
                                <!-- empty for the new item btn space -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if list.editable %}
                    <div class="row control mainBtnContainer">
                        <span class="spacer"></span>
                        <button type="button" class="blue" onclick="addItem(this)">{{ "Add"|i18n }}</button>
                        <button class="blue">{{ "Save"|i18n }}</button>
                    </div>
                {% endif %}
            </form>
        </zdk-panel>
        {% endfor%}
    </div>
</div>
<zdk-modal id="statusModal" closebutton="false">
    <div class="modalContainer">
        <div class="modalTitleContainer"></div>
        <div class="modalContentContainer"></div>
        <div class="modalButtonContainer"></div>
    </div>
</zdk-modal>
<div class="hidden">
    <div id="trad_save">{{ "Save"|i18n }}</div>
    <div id="trad_error">{{ "Error"|i18n }}</div>
    <div id="trad_confirm_save">{{ "Are you sure you want to save this part ?"|i18n }}</div>
    <div id="trad_success_update">{{ "Item successfully updated"|i18n }}</div>
    <div id="trad_success_create">{{ "Item successfully created"|i18n }}</div>
    <div id="trad_error_occured">{{ "An error occured"|i18n }}</div>
    <div id="trad_error_ref">{{ "Some values already exists"|i18n }}</div>
    <div id="trad_yes">{{ "Yes"|i18n }}</div>
    <div id="trad_no">{{ "No"|i18n }}</div>
    <div id="trad_ok">{{ "OK"|i18n }}</div>
</div>
{% endblock %}
