{% extends './page.htm' %}

{% block title %}{{ "Lists management"|i18n }}{% endblock %}

{% block head %}
{% parent %}

<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>

<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<script src="/tpl/list.js"></script>

{% endblock %}

{% block content %}
<div class="hidden" id="list-name">{{list.name}}</div>
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>

<div class="row title">
	<label class="title">{{list.name}}</label>
	<span class="spacer"></span>
	<label>{{ "Language"| i18n }} :</label>
	<select name="lang" id="lang" onchange="changeLang();">
		{% for item in communication.items %}
		<option value="{{item.value}}">{{item.label}}</option>
		{% endfor %}
	</select>
</div>
	
<div class="content">
	<div class="row">
		<label>{{ "Editable"|i18n }}:</label>
		<input type="checkbox" name="editable" value="true" {% if list.editable %}checked{% else %}disabled{% endif %} />
	</div>
	
	<div class="row">
		<label>{{ "Default reference"|i18n }}:</label>
		<select name="defaultValue" {% if !list.editable %}disabled{% endif%}>
			<option value="null" {% if list.defaultValue === null %}selected{% endif %}>{{ "-- No default value --"|i18n }}</option>
			{% for item in list.items %}
			<option value="{{item.ref}}" {% if list.defaultValue === item.ref %}selected{% endif %}>{{item.ref}}</option>
			{% endfor %}
		</select>
	</div>
	
	<script type="template" id="tplItems">
		{%raw%}{{#items}}{%endraw%}
		<div class="item">
			<div class="row">
				<div class="col">
					<label>{{ "Reference"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].ref{% endraw %}" value="{% raw %}{{ref}}{% endraw %}" {%raw%}{{^new}}disabled{{/new}}{%endraw%} required />
				</div>
				<div class="col">
					<label>{{ "Active"|i18n }}:</label>
					<input type="checkbox" name="{% raw %}items[{{idx}}].active{% endraw %}" value="true" {%raw%}{{#active}}checked{{/active}}{%endraw%}/>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "Label"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].label.{{lang}}{% endraw %}" value="{% raw %}{{label}}{% endraw %}" {% raw %}{{^editable}}disabled{{/editable}}{% endraw %} />
				</div>
				{% raw %}{{#hasRank}}{% endraw %}
				<div class="col">
					<label>{{ "Rank"|i18n }}:</label>
					<input type="number" name="{% raw %}items[{{idx}}].rank{% endraw %}" value="{% raw %}{{rank}}{% endraw %}" />
				</div>
				{% raw %}{{/hasRank}}{% endraw %}
				{% raw %}{{#hasTVLabel}}{% endraw %}
				<div class="col">
					<label>{{ "TVLabel"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].TVLabel{% endraw %}" value="{% raw %}{{TVLabel}}{% endraw %}" />
				</div>
				{% raw %}{{/hasTVLabel}}{% endraw %}
			</div>
			{% raw %}{{#service}}{% endraw %}
			<div class="row">Provider roles <button type="button" class="small blue" onclick="editRole({% raw %}{{idx}},{{roles}}{{#new}},true{{/new}}{% endraw %})" >Edit</button></div>
			<div class="row" style="padding-left:50px">
				{% raw %}{{roleTypeCode}}{% endraw %}
			</div>
			{% raw %}{{/service}}{% endraw %}
			{% raw %}{{#new}}{% endraw %}
				<input type="hidden" name="{% raw %}items[{{idx}}].new{% endraw %}" value="true" />
				<div class="row">
					<span class="spacer"></span>
					<button type="button" class="small red" onclick="deleteItem(this)">{{ "Delete" | i18n }}</button>
				</div>
			{% raw %}{{/new}}{% endraw %}
		</div>
		{%raw%}{{/items}}{%endraw%}
	</script>
	
	<script type="template" id="tplItemsMeasure">
		{%raw%}{{#items}}{%endraw%}
		<div class="item">
			<div class="row">
				<div class="col">
					<label>{{ "Reference"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].ref{% endraw %}" value="{% raw %}{{ref}}{% endraw %}" required />
				</div>
				<div class="col">
					<label>{{ "Active"|i18n }}:</label>
					<input type="checkbox" name="{% raw %}items[{{idx}}].active{% endraw %}" value="true" {%raw%}{{#active}}checked{{/active}}{%endraw%} />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "General"|i18n }}</label><input type="radio" name="{% raw %}items[{{idx}}].category{% endraw %}" value="General" {%raw%}{{#general}}checked{{/general}}{%endraw%} />
				</div>
				<div class="col">
					<label>{{ "HDIM"|i18n }}</label><input type="radio" name="{% raw %}items[{{idx}}].category{% endraw %}" value="HDIM" {%raw%}{{^general}}checked{{/general}}{%endraw%} />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "Label"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].label.{{lang}}{% endraw %}" value="{% raw %}{{label}}{% endraw %}" />
				</div>
				<div class="col">
					<label>{{ "Unit"|i18n }}:</label>
					<select name="{% raw %}items[{{idx}}].units{% endraw %}">
						{% raw %}
						{{#units}}
						<option value="{{value}}" {{#selected}}selected{{/selected}} >{{label}}</option>
						{{/units}}
						{% endraw %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "Automatic input"|i18n }}:</label>
					<input type="checkbox" name="{% raw %}items[{{idx}}].autoInput{% endraw %}" value="true" {%raw%}{{#autoInput}}checked{{/autoInput}}{%endraw%} />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "Threshold min"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].threshold.min{% endraw %}" value="{% raw %}{{threshold.min}}{% endraw %}"/>
				</div>
				<div class="col">
					<label>{{ "Threshold max"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].threshold.max{% endraw %}" value="{% raw %}{{threshold.max}}{% endraw %}" />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<label>{{ "Range min"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].range.min{% endraw %}" value="{% raw %}{{range.min}}{% endraw %}" />
				</div>
				<div class="col">
					<label>{{ "Range max"|i18n }}:</label>
					<input type="text" name="{% raw %}items[{{idx}}].range.max{% endraw %}" value="{% raw %}{{range.max}}{% endraw %}" />
				</div>
			</div>
			{% raw %}{{#new}}{% endraw %}
			<div class="row control itemBtnContainer">
				<input type="hidden" name="{% raw %}items[{{idx}}].new{% endraw %}" value="true" />
				<span class="spacer"></span>
				<button type="button" class="small red" onclick="deleteItem(this)">{{ "Delete"|i18n }}</button>
			</div>
			{% raw %}{{/new}}{% endraw %}
		</div>
		{%raw%}{{/items}}{%endraw%}
	</script>
	
	<script type="template" id="tplJobs">
		<div class="row">
			<p>{{ "Choose all providers roles"|i18n }}</p>
		</div>
		<div style="height:300px; overflow:auto" id="jobList">
			<form name="providers" autocomplete="off" onsubmit="AddProvidersRoles(); return false;">
				<input type="hidden" name="itemref" value="{% raw %}{{itemref}}{% endraw %}" />
				<input type="hidden" name="itemnew" value="{% raw %}{{itemnew}}{% endraw %}" />
				{%raw%}{{#items}}{%endraw%}
				<div class="item">
					<div class="row">
						<div>
							<input type="checkbox" id="{% raw %}{{ref}}{% endraw %}" name="{% raw %}items[{{ref}}]{% endraw %}" value="{% raw %}{{ref}}{% endraw %}" {%raw%}{{#check}}checked{{/check}}{%endraw%} />
							<label for="{% raw %}{{ref}}{% endraw %}">{% raw %}{{label}}{% endraw %}</label>
						</div>
					</div>
				</div>
				{%raw%}{{/items}}{%endraw%}
			</form>
		</div>
		</div>
		<div class="modalButtonContainer">
			<button type="button" class="red" onclick="closeRoles()">{{ "Cancel"|i18n }}</button>
			<button class="blue" onclick="addRoles()">{{ "Add"|i18n }}</button>
		</div>
	</script>
		
	<form name="items" autocomplete="off" onsubmit="return false;">
		<div id="items">
			<!-- template are renderred here -->
		</div>
		<div id="newItems" style="margin:20px 0px">
			
		</div>
		{% if list.editable %}
		<div class="row" style="margin-bottom:20px">
			<span class="spacer"></span>
			<button type="button" class="blue" onclick="addItem(this)">{{ "New item"|i18n }}</button>
		</div>
		{% endif %}
	</form>
</div>
<footer>
	<div class="row">
		<span class="spacer"></span>
		<button type="button" class="red" onclick="modified=false; window.history.back(1)">{{ "Cancel"|i18n }}</button>
		<button class="blue" onclick="save()">{{ "Save"|i18n }}</button>
	</div>
</footer>

<zdk-modal width="450" id="editRole" closebutton="false">
	<div class="modalContainer">
		<div class="modalTitleContainer">{{ "providers role"|i18n }}</div>
		<div class="modalContentContainer">
			<!-- here come the content of the template tplJobs -->
		</div>
	</div>
</zdk-modal>

{% include 'modal.htm' %}

{% endblock %}