{% extends './page.htm' %}

{% block title %}{{"Message to Home" | i18n}}{% endblock %}

{% block head %}
{% parent %}

<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/core-dropdown-menu/core-dropdown-menu.html">
<link rel="import" href="/bower_components/core-dropdown/core-dropdown.html">
<link rel="import" href="/bower_components/core-selector/core-selector.html">
<link rel="import" href="/bower_components/core-pages/core-pages.html">

<style>
	core-dropdown-menu {
		width: 200px;
		border: 1px solid lightgray;
		padding: 0px 10px;
	}
	
	core-dropdown {
		width: 200px;
		border: 1px solid lightgray;
	}
	
	core-selector div {
		line-height: 35px;
		padding: 0px 10px;
	}
	
	core-selector div:hover {
		background: lightgray;
	}
	
	.core-selected {
		font-weight: bold;
	}
	
	div.filter {
		height: 35px;
		margin-bottom: 10px;
	}
	
	core-pages {
		align-self: flex-start;
		margin-left: 20px;
	}
</style>
{% endblock %}

{% block content %}

<div class="row title">
	<label class="title">
		{{ "New message to a list"|i18n }}
	</label>
</div>

<div class="row">
	<label>All the beneficiaries</label> <input type="checkbox" checked>
</div>
<button class="small blue">Add filter</button>
<div layout horizontal class="filter">
	<core-dropdown-menu label="Choose a filter">
		<core-dropdown class="dropdown">
			<core-selector selected="0">
				<div>Perimeter</div>
				<div>City</div>
				<div>Main diagnosis</div>
				<div>Undernutrition status</div>
				<div>Start date</div>
				<div>Age</div>
				<div>Sex</div>
				<div>Dependant</div>
			</core-selector>
		</core-dropdown>
	</core-dropdown-menu>
	
	<core-pages selected="0">
		<div><input type="text" name="perimeter"></div>
		<div><input type="text" name="city"></div>
		<div><select>
			<option>Main 1</option>
			<option>Main 2</option>
			<option>Main 3</option>
		</select></div>
		<div><select>
			<option>nutri 1</option>
			<option>nutri 2</option>
			<option>nutri 3</option>
		</select></div>
		<div><input type="text" name="date"></div>
		<div><select>
			<option>Male</option>
			<option>Female</option>
		</select></div>
		<div><select>
			<option>gen status 1</option>
			<option>gen status 2</option>
			<option>gen status 3</option>
		</select></div>
	</core-pages>
</div>

<form name="message">
	<div class="row spaced-down">
		<div class="col">
			<label for="title">{{"Title"|i18n}} : </label>
			<input type="text" id="title" name="title" maxlength="100">
		</div>
		<input type="hidden" name="author" id="author" value="{{session.person.id.toString()}}">
	</div>
	<div class="row spaced-side">
		<label for="content">{{"Content"|i18n}} : </label>
		<div class="spacer limitInfo"></div>
	</div>
	<div class="row spaced-down">
		<textarea name="content" id="content" rows="10"></textarea>
	</div>
</form>

{% include 'errorMessage.htm'%}

<div class="row control actions">
	<span class="spacer"></span>
	<a href="/message">
		<button class="blue red">{{ "Cancel"|i18n }}</button>
	</a>
	<button type="button" class="blue big" onclick="sendMessage()">{{ "Send"|i18n }}</button>
</div>

{% include 'modal.htm' %}

{% endblock %}