{% extends './page.htm' %}

{% block title %}{{'Message to Home' | i18n}}{% endblock %}

{% block head %}
{% parent %}

<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>
<script src="/tpl/messageCreate.js"></script>
<link rel="stylesheet" href="/styles/message.css">

<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">

{% endblock %}

{% block content %}

<div class="row title">
	<label class="title">
		{{ "New message"|i18n }}
	</label>
</div>

<form name="message">
	<div class="row spaced-down">
		<div class="col">
			<label for="title">{{'Title'|i18n}} : </label>
			<input type="text" id="title" name="title" maxlength="100">
		</div>
		{% if session.role === 'coordinator' %}
		<div class="col flex-right">
			<label for="author">{{'Sender'|i18n}}: </label>
			<select id="author" name="author">
				<option value="{{session.person.id.toString()}}">{{session.person.item.name.family}} {{session.person.item.name.given}}</option>
				{% for item in professionalList %}
				<option value="{{item._id.toString()}}" >{{item.name.family}} {{item.name.given}} </option>
				{% endfor %}
			</select>
		</div>
		{% else %}
			<input type="hidden" name="author" id="author" value="{{session.person.id.toString()}}">
		{% endif%}
	</div>
	<div class="row spaced-side">
		<label for="content">{{'Content'|i18n}} : </label> <div class="spacer limitInfo"></div>
	</div>
	<div class="row spaced-down">
		<textarea name="content" id="content" rows="10"></textarea>
	</div>

</form>

{% include 'errorMessage.htm'%}

<div class="row control actions">
	<span class="spacer"></span>
	<a href="/message"><button class="blue red">{{ "Cancel"|i18n }}</button></a>
	<button type="button" class="blue big" onclick="sendMessage()">{{ "Send"|i18n }}</button>
</div>

{% include 'modal.htm' %}

{% endblock %}