{% extends './page.htm' %}

{% macro getTitle(category) %}
	{% if category === 'General'%}
		{{ "General physiological data" |i18n }}
	{% elseif category === 'HDIM'%}
		{{ "HDIM Data" |i18n }}
	{% else %}
		{{ "Symptom assessments" |i18n }}
	{% endif %}
{% endmacro %}

{% block title %}{{ getTitle(category) }}{% endblock %}
{% block head %}
{% parent %}
<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">

<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>
<script src="/tpl/prescriptionData.js"></script>

<link rel="stylesheet" href="/styles/prescriptionData.css">
{% endblock %}

{% block content %}

<div class="hidden param-category">{{ category }}</div>
<div class="hidden param-list">{{ parameterList }}</div>
<div class="row title">
    <label class="title">
        {{ getTitle(category) }}
    </label>
</div>

<div class="dataprog-list">
</div>

<div class="row control">
	<span class="spacer"></span>
	{% if rights.write %}
	<button type="button" class="blue" onclick="showForm()">{{'Add'|i18n}}</button>
	{% endif %}
</div>

<script type="template" id="tpl-dataprog">
	{% raw %}
	{{#param}}
	<div class="row h1">
		<div class="col05 bold data-text">{{labelLang}}</div>
	</div>
	{{/param}}
	{% endraw %}
	
	{% raw %}
	{{#data.hasThreshold}}
	{% endraw %}
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"threshold min"|i18n}}</label><span>{% raw %}{{ data.threshold.min }}{% endraw %}</span>
		</div>
		<div class="col">
			<label>{{"threshold max"|i18n}}</label><span>{% raw %}{{ data.threshold.max }}{% endraw %}</span>
		</div>
	</div>
	{% raw %}
	{{/data.hasThreshold}}
	{% endraw %}
	
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>{{"Start date"|i18n}}</label><span>{% raw %}{{ data.startDate }}{% endraw %}</span>
		</div>
		<div class="col">
			<label>{{"End date"|i18n}}</label><span>{% raw %}{{ data.endDate }}{% endraw %}</span>
		</div>
	</div>

	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			<label>
				{% raw %}{{#data.hasDetail}}{% endraw %}
					
				{% raw %}{{#data.freqMonth}}{% endraw %}
					{{"Every"|i18n}} {% raw %}{{#data.freqRepeat}}{{data.repeat}}{{/data.freqRepeat}}{% endraw %}
					{{"months"|i18n}}
				{% raw %}{{/data.freqMonth}}{% endraw %}
				{% raw %}{{#data.freqWeek}}{% endraw %}
					{{"Every2"|i18n}} {% raw %}{{#data.freqRepeat}}{{data.repeat}}{{/data.freqRepeat}}{% endraw %}
					{{"weeks"|i18n}}{% raw %}{{/data.freqWeek}}{% endraw %}
				{% raw %}{{#data.freqDay}}{% endraw %}
					{{"Every"|i18n}} {% raw %}{{#data.freqRepeat}}{{data.repeat}}{{/data.freqRepeat}}{% endraw %}
					{{"days"|i18n}}
				{% raw %}{{/data.freqDay}}{% endraw %}
				{% raw %}{{/data.hasDetail}}{% endraw %}
				{% raw %}{{^data.hasDetail}}{% endraw %}
					{{"Everyday"|i18n}}
				{% raw %}{{/data.hasDetail}}{% endraw %}
			</label>
			{% raw %}
			<ul class="data-list">
			{{#data}}
				{{#when}}
					{{#days}}
						<li>{{#getDay}}{{.}}{{/getDay}}</li>
					{{/days}}
				{{/when}}
			{{/data}}
			</ul>
			{% endraw %}
		</div>
		<div class="col"></div>
	</div>
	
	{% raw %}{{#data.hasMoreDetail}}{% endraw %}
	<div class="row h1">
		<div class="col05"></div>
		<div class="col">
			{% raw %}{{#data.when.weekFirst}}{% endraw %}{{"The first"|i18n}}{% raw %}{{/data.when.weekFirst}}{% endraw %}
			{% raw %}{{#data.when.weekSecond}}{% endraw %}{{"The second"|i18n}}{% raw %}{{/data.when.weekSecond}}{% endraw %}
			{% raw %}{{#data.when.weekThird}}{% endraw %}{{"The third"|i18n}}{% raw %}{{/data.when.weekThird}}{% endraw %}
			{% raw %}{{#data.when.weekFourth}}{% endraw %}{{"The fourth"|i18n}}{% raw %}{{/data.when.weekFourth}}{% endraw %}
			&nbsp;{{"week from the"|i18n}} 
			{% raw %}{{#data.when.orderBegin}}{% endraw %}{{"beginning"|i18n}}{% raw %}{{/data.when.orderBegin}}{% endraw %}
			{% raw %}{{#data.when.orderEnd}}{% endraw %}{{"end"|i18n}}{% raw %}{{/data.when.orderEnd}}{% endraw %}
			&nbsp;{{"of the month"|i18n}}
		</div>
	</div>
	{% raw %}{{/data.hasMoreDetail}}{% endraw %}
	
	<div class="row h1 control">
		<span class="spacer"></span>
		{% if rights.write %}
		<button type="button" onclick="showForm('{% raw %}{{data.ref}}{% endraw %}')" class="small blue">{{"Edit"|i18n}}</button>
		{% endif %}
	</div>

	<hr>
</script>

<script type="template" id="tpl-form">
	<h2>{{ getTitle(category) }}</h2>
	
	<div class="row h1">
		<label>{{"Type of data"|i18n}}</label>

		<select name="ref" onchange="updateParam(this)" id="ref-select">
			{% raw %}
			{{#paramList}}
			<option value="{{ref}}" {{#selection}}{{ref}}{{/selection}} {{#disable}}{{ref}}{{/disable}}>{{labelLang}}</option>
			{{/paramList}}
			{% endraw %}
		</select>
	</div>

	{% raw %}
	{{#hasThresholds}}
	{% endraw %}
	<div class="row h1">
		<label>{{"threshold min"|i18n}}</label>
		<input type="number" value="" name="threshold.min" class="min-threshold">
	</div>

	<div class="row h1">
		<label>{{"threshold max"|i18n}}</label>
		<input type="number" value="" name="threshold.max" class="max-threshold">
	</div>
	{% raw %}
	{{/hasThresholds}}
	{% endraw %}

	<div class="row h1">
		<div class="col vert">
			<label>{{"Start date"|i18n}}</label>
			<zdk-input-date i18n="{% raw %}{{data.i18n}}{% endraw %}" name="startDate" value="{% raw %}{{data.startDate}}{% endraw %}" style="z-index:100" required></zdk-input-date>
		</div>
		<div class="col vert">
			<label>{{"End date"|i18n}}</label>
			<zdk-input-date i18n="{% raw %}{{data.i18n}}{% endraw %}" name="endDate" value="{% raw %}{{data.endDate}}{% endraw %}" style="z-index:100"></zdk-input-date>
		</div>
	</div>
	<div id="dateError" class="row h1 hidden">
		<div style="text-align:center;width:100%;color:red">
		{{"The end date must be greater than the start date" | i18n}}
		</div>
	</div>

	<div class="row h1">
		<label>{{"Frequency"|i18n}}</label>
	</div>

	<div class="row h1 frequency-choice">
		<input type="radio" name="frequency" onchange="showOptions('monthly')" value="monthly" 
		       {% raw %}{{#getFrequencyDefault}}monthly{{/getFrequencyDefault}}{% endraw %}><label>{{"Monthly"|i18n}}</label>
		<input type="radio" name="frequency" onchange="showOptions('weekly')" value="weekly" 
		       {% raw %}{{#getFrequencyDefault}}weekly{{/getFrequencyDefault}}{% endraw %}><label>{{"Weekly"|i18n}}</label>
		<input type="radio" name="frequency" onchange="showOptions('daily')" value="daily" 
		       {% raw %}{{#getFrequencyDefault}}daily{{/getFrequencyDefault}}{% endraw %}><label>{{"Daily"|i18n}}</label>
	</div>

	<div class="frequency-options"></div>

	<hr>


	<div class="row control">
		<span class="spacer"></span>
		<button type="button" onclick="closeForm()" class="red">{{"Cancel"|i18n}}</button>
		<button id="delBtn" type="button" onclick="removeData('{% raw %}{{data._id}}{% endraw %}')" class="red">{{"Delete"|i18n}}</button>
		<button type="button" onclick="saveData()" class="green">{{"Save"|i18n}}</button>
	</div>
	
</script>

<script type="template" id="tpl-option-daily">
	<div class="row h1">
		{{"Every"|i18n}} <input type="number" name="repeat" class="option-repeat" value="{% raw %}{{data.repeat}}{% endraw %}"> {{"Day"|i18n}}
	</div>
</script>

<script type="template" id="tpl-option-weekly">
	<div class="row h1">
		{{"Every"|i18n}} <input type="number" name="repeat" class="option-repeat" value="{% raw %}{{data.repeat}}{% endraw %}"> {{"Week"|i18n}}
	</div>
	<div class="row days h1" >
		<input type="checkbox" name="when.days[]" value="1" {% raw %}{{#getDaysDefault}}1{{/getDaysDefault}}{% endraw %}/>{{"Mon"|i18n}}
		<input type="checkbox" name="when.days[]" value="2" {% raw %}{{#getDaysDefault}}2{{/getDaysDefault}}{% endraw %}/>{{"Tue"|i18n}}
		<input type="checkbox" name="when.days[]" value="3" {% raw %}{{#getDaysDefault}}3{{/getDaysDefault}}{% endraw %}/>{{"Wed"|i18n}}
		<input type="checkbox" name="when.days[]" value="4" {% raw %}{{#getDaysDefault}}4{{/getDaysDefault}}{% endraw %}/>{{"Thu"|i18n}}
		<input type="checkbox" name="when.days[]" value="5" {% raw %}{{#getDaysDefault}}5{{/getDaysDefault}}{% endraw %}/>{{"Fri"|i18n}}
		<input type="checkbox" name="when.days[]" value="6" {% raw %}{{#getDaysDefault}}6{{/getDaysDefault}}{% endraw %}/>{{"Sat"|i18n}}
		<input type="checkbox" name="when.days[]" value="0" {% raw %}{{#getDaysDefault}}0{{/getDaysDefault}}{% endraw %}/>{{"Sun"|i18n}}
	</div>
</script>

<script type="template" id="tpl-option-monthly">
	<div class="row">
		{{"Every"|i18n}} <input type="number" name="repeat" class="option-repeat" value="{% raw %}{{data.repeat}}{% endraw %}"> {{"Month"|i18n}}
	</div>
	<div class="row h1">
		<select name="when.week" class="spacing-around">
			<option value="1" {% raw %}{{#getWeekDefault}}1{{/getWeekDefault}}{% endraw %}>{{"first"|i18n}}</option>
			<option value="2" {% raw %}{{#getWeekDefault}}2{{/getWeekDefault}}{% endraw %}>{{"second"|i18n}}</option>
			<option value="3" {% raw %}{{#getWeekDefault}}3{{/getWeekDefault}}{% endraw %}>{{"third"|i18n}}</option>
			<option value="4" {% raw %}{{#getWeekDefault}}4{{/getWeekDefault}}{% endraw %}>{{"fourth"|i18n}}</option>
		</select> {{'week'|i18n}}
	</div>
	<div class="row h1">
		{{"from the"|i18n}} <select name="when.order" class="spacing-around">
			<option value="1"  {% raw %}{{#getStartDefault}}1{{/getStartDefault}}{% endraw %}>{{"beginning"|i18n}}</option>
			<option value="-1" {% raw %}{{#getStartDefault}}-1{{/getStartDefault}}{% endraw %}>{{"end"|i18n}}</option>
		</select> {{"of the month"|i18n}}
	</div>
	<div class="row days h1">
		<input type="checkbox" name="when.days[]" value="1" {% raw %}{{#getDaysDefault}}1{{/getDaysDefault}}{% endraw %}/>{{"Mon"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="2" {% raw %}{{#getDaysDefault}}2{{/getDaysDefault}}{% endraw %}/>{{"Tue"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="3" {% raw %}{{#getDaysDefault}}3{{/getDaysDefault}}{% endraw %}/>{{"Wed"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="4" {% raw %}{{#getDaysDefault}}4{{/getDaysDefault}}{% endraw %}/>{{"Thu"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="5" {% raw %}{{#getDaysDefault}}5{{/getDaysDefault}}{% endraw %}/>{{"Fri"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="6" {% raw %}{{#getDaysDefault}}6{{/getDaysDefault}}{% endraw %}/>{{"Sat"|i18n}}&nbsp;&nbsp;
		<input type="checkbox" name="when.days[]" value="0" {% raw %}{{#getDaysDefault}}0{{/getDaysDefault}}{% endraw %}/>{{"Sun"|i18n}}
	</div>
</script>


{% include "./modal.htm" %}
{% endblock %}

