{% extends './page.htm' %}
{% block title %}{{title}}{% endblock %}
{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<script src="/tpl/prescriptionData.js"></script>

<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">
<link rel="stylesheet" href="/styles/prescriptionData.css">
{% endblock %}

{% block content %}

{% macro prescriptionList(data) %}
<div class="data-item">
	<div class="hidden data-ref">{{ data.ref }}</div>
	{% raw %}
	{{#item}}
	<div class="row">
		<div class="col col05 bold data-text">{{labelLang}}</div>
		<div class="col">
			<label>Min Threshold</label><span class="data-min">{{#threshold}}{{min}}{{/threshold}}</span>
		</div>
		<div class="col">
			<label>Max Threshold</label><span class="data-max">{{#threshold}}{{max}}{{/threshold}}</span>
		</div>
	</div>
	{{/item}}
	{% endraw %}
	<div class="row">
		<div class="col col05"></div>
		<div class="col">
			<label>Start date</label><span>{{ data.startDate }}</span>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col col05"></div>
		<div class="col">
			<label>{{ data.frequency }}</label>
			<ul class="data-list">
				<li>Monday</li>
				<li>Wednesday</li>
			</ul>
		</div>
		<div class="col"></div>
	</div>

	<div class="row control">
		<span class="spacer"></span>
		<button type="button" onclick="openModalEdition()" class="small blue">Edit</button>
	</div>

	<hr>
</div>
{% endmacro %}

<div class="hidden" id="lang">{{ lang }}</div>
<div class="hidden param-category">{{ category }}</div>
<div class="row title">
    <label class="title">
        {{title}}
    </label>
</div>

{% for data in dataprog %}
	{{ prescriptionList(data) }}
{% endfor %}

<div class="row control">
	<span class="spacer"></span>
	<button type="button" class="blue">Add</button>
</div>

<zdk-modal id="editModal" closebutton="false">
    <div class="modalContainer">
    	<h2>{{title}}</h2>

    	<div class="row">
    		<label>type of data</label>
    		<select>
    			<option>1</option>
    			<option>2</option>
    			<option>3</option>
    		</select>
    	</div>

    	<div class="row">
    		<div class="col">
    			<label>Min Threshold</label>12
    		</div>

    		<div class="col">
    			<label>Max Threshold</label>15
    		</div>
    	</div>

    	<div class="row">
    		<label>Start date</label>
    		<zdk-input-date name="" value="" style="z-index:100"></zdk-input-date>
    	</div>

    	<div class="row">
    		<label>Frequency</label>
    	</div>

    	<div class="row frequency-choice">
    		<input type="radio" name="frequency" onchange="showOptions('monthly')" value="monthly"><label>Monthly</label>
    		<input type="radio" name="frequency" onchange="showOptions('weekly')" value="weekly"><label>Weekly</label>
    		<input type="radio" name="frequency" onchange="showOptions('daily')" value="daily"><label>Daily</label>
    	</div>

    	<div class="frequency-options"></div>

    	<hr>


    	<div class="row control">
			<span class="spacer"></span>
			<button type="button" onclick="closeModal()" class="red">Cancel</button>
			<button type="button" onclick="removeData()" class="red">Delete</button>
			<button type="button" onclick="saveData()" class="green">Save</button>
		</div>

    </div>
</zdk-modal>


<script type="template" id="tpl-option-weekly">

	<div class="row">
		Every <input type="number" name="repeat" class="option-repeat"> Week
	</div>
	<div class="row">
		<input type="checkbox" name="monday"/>Mon
		<input type="checkbox" name="tuesday"/>Tue
		<input type="checkbox" name="Wednesday"/>Wed
		<input type="checkbox" name="Thursday"/>Thu
		<input type="checkbox" name="Friday"/>Fri
		<input type="checkbox" name="Saturday"/>Sat
		<input type="checkbox" name="Sunday"/>Sun
	</div>

</script>

<script type="template" id="tpl-option-monthly">

	<div class="row">
		Every <input type="number" name="repeat" class="option-repeat"> Month
	</div>
	<div class="row">
		The <select name="week">
			<option value="1">first</option>
			<option value="2">second</option>
			<option value="3">third</option>
			<option value="4">fourth</option>
			<option value="5">fifth</option>
		</select>
	</div>
	<div class="row">
		<input type="checkbox" name="monday"/>Mon
		<input type="checkbox" name="tuesday"/>Tue
		<input type="checkbox" name="Wednesday"/>Wed
		<input type="checkbox" name="Thursday"/>Thu
		<input type="checkbox" name="Friday"/>Fri
		<input type="checkbox" name="Saturday"/>Sat
		<input type="checkbox" name="Sunday"/>Sun
	</div>

</script>

{% endblock %}