{% extends './page.htm' %}

{% block title %}{{ "Select a questionnaire"|i18n }}{% endblock %}

{% block head %}
{% parent %}
{% endblock %}

{% block content %}
<style>
	.link:hover{
		background: silver;
	}
	ul {
		padding: 0px;
		
		-webkit-column-count: 2;
		-webkit-column-gap: 10px;
		-webkit-column-rule: 1px solid LightGray;
		
		-moz-column-count: 2;
		-moz-column-gap: 10px;
		-moz-column-rule: 1px solid LightGray;
		
		column-count: 2;
		column-gap: 10px;
		column-rule: 1px solid LightGray;
	}
	ul li {
		height:30px;
		line-height:30px;
		padding-left:10px;
	}
	ul li:hover {
		background: lightgray;
	}
</style>

<style>
	div.row { height:30px; }
	div.row.title { height:40px; background:rgb(80, 80, 80); color:white; padding:0px 10px; margin-bottom:20px; }
	label.title { font-size:1.3em; width:initial !important }
</style>
<div class="row title"><label class="title">{{ "Questionnaires"|i18n }}</label></div>

<div class="mainContainer">
	<ul>
	{% for q in questionnaires.items %}
		<li>
			<a href="/questionnaires/edit/{{q.name}}">
				<button class="small blue">{{'Edit'|i18n}} (dev only)</button>
			</a>
			<a class="link" href="/questionnaires/preview/{{q.name}}">{{q.label[lang] || q.name }} </a>
		</li>
	{% endfor %}
	</ul>
	<div class="row control">
		<span class="spacer"></span>
		<a href="/questionnaire/create">
			<button class="blue">{{'Create Questionnaire'|i18n}} (dev only)</button>
		</a>
	</div>
</div>
{% endblock %}
