{% extends './page.htm' %}

{% block title %}{{ "Select a questionnaire"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>
{% endblock %}

{% block content %}
<style>
	a:hover{
		background: silver;
	}
</style>

	<div class="mainContainer">
		<ul>
		{% for q in questionnaires.items %}
			<li>
				<a href="/questionnaire/{{q.name}}">{{q.text}}</a>
			</li>
		{% endfor %}
		</ul>


<!-- DEV ONLY -->
		<br/>
		<script type="text/template" id="tplHeaderQuestion">
		    <div class="row">
		    	<label>Question Header</label>
		    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].header" />
		    </div>
		    <br/>
		    <div class="row">
		    	<label>Question text</label>
		    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].text" />
		    </div>
		    <div class="row">
		    	<div class="col">
			    	<label>Choice Text</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].text" />
			    </div>
			    <div class="col">
			    	<label>Choice Value</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].value" />
			    </div>
		    </div>
		    <div class="row control">
				<span class="spacer"></span>
				<button type="button" class="small blue" onclick="addHeaderChoice({%raw%}{{qIdx}}{%endraw%}, {%raw%}{{subQIdx}}{%endraw%}, this)">Add choice</button>
				<button type="button" class="small blue" onclick="addHeaderNewQuestion({%raw%}{{qIdx}}{%endraw%}, this)">Add question</button>
			</div>
			<hr>
		</script>
		<script type="text/template" id="tplHeaderNewQuestion">
		    <br/>
		    <div class="row">
		    	<label>Question text</label>
		    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].text" />
		    </div>
		    <div class="row">
		    	<div class="col">
			    	<label>Choice Text</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].text" />
			    </div>
			    <div class="col">
			    	<label>Choice Value</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].value" />
			    </div>
		    </div>
		</script>
		<script type="text/template" id="tplSimpleQuestion">
		    <div class="row">
		    	<label>Question text</label>
		    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].text" />
		    </div>
		    <div class="row">
		    	<div class="col">
			    	<label>Choice Text</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].text" />
			    </div>
			    <div class="col">
			    	<label>Choice Value</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].value" />
			    </div>
		    </div>
		    <div class="row control">
				<span class="spacer"></span>
				<button type="button" class="small blue" onclick="addChoice({%raw%}{{qIdx}}{%endraw%}, this)">Add choice</button>
			</div>
			<hr>
		</script>
		<script type="text/template" id="tplHeaderChoice">
		    <div class="row">
		    	<div class="col">
			    	<label>Choice Text</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].text" />
			    </div>
			    <div class="col">
			    	<label>Choice Value</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].questions[{%raw%}{{subQIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].value" />
			    </div>
		    </div>
		</script>
		<script type="text/template" id="tplChoice">
		    <div class="row">
		    	<div class="col">
			    	<label>Choice Text</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].text" />
			    </div>
			    <div class="col">
			    	<label>Choice Value</label>
			    	<input type="text" name="questions[{%raw%}{{qIdx}}{%endraw%}].choice[{%raw%}{{cIdx}}{%endraw%}].value" />
			    </div>
		    </div>
		</script>
		<script type="text/javascript">
			var _subQIdx = 0,
				_qIdx = 0,
				_cIdx = 0;
			var promiseXHR = function(method, url, statusOK, data) {
			    var promise = new RSVP.Promise(function(resolve, reject) {
			        var client = new XMLHttpRequest();
			        statusOK = statusOK ? statusOK : 200;
			        client.open(method, url);
			        client.onreadystatechange = function handler() {
			            if (this.readyState === this.DONE) {
			                if (this.status === statusOK) {
			                    resolve(this.response);
			                } else {
			                    reject(this);
			                }
			            }
			        };
			        client.send(data ? data : null);
			    });

			    return promise;
			};

			function addHeaderQuestion(){
				var elt = document.querySelector("#tplHeaderQuestion").innerHTML;
			    var modelData = { qIdx: ++_qIdx, subQIdx: ++_subQIdx, cIdx: ++_cIdx};
			    var html = Mustache.render(elt, modelData);
			    var div = document.createElement("div");
			    div.innerHTML = html;
			    var button = document.querySelector("#addSimple");
			    button.parentNode.parentNode.insertBefore( div , button.parentNode );
			};

			function addHeaderNewQuestion(questionIdx, node){
				var elt = document.querySelector("#tplHeaderNewQuestion").innerHTML;
			    var modelData = { qIdx: questionIdx, subQIdx: ++_subQIdx, cIdx: ++_cIdx};
			    var html = Mustache.render(elt, modelData);
			    var div = document.createElement("div");
			    div.innerHTML = html;
			    node.parentNode.parentNode.insertBefore( div, node.parentNode );
			};

			function addSimpleQuestion(){
				var elt = document.querySelector("#tplSimpleQuestion").innerHTML;
			    var modelData = { qIdx: ++_qIdx, cIdx: ++_cIdx};
			    var html = Mustache.render(elt, modelData);
			    var div = document.createElement("div");
			    div.innerHTML = html;
			    var button = document.querySelector("#addSimple");
			    button.parentNode.parentNode.insertBefore( div , button.parentNode );
			};

			function addHeaderChoice(questionIdx, subQuestionIdx, node){
				var elt = document.querySelector("#tplHeaderChoice").innerHTML;
			    var modelData = { qIdx: questionIdx, subQIdx: subQuestionIdx, cIdx: ++_cIdx};
			    var html = Mustache.render(elt, modelData);
			    var div = document.createElement("div");
			    div.innerHTML = html;
			    node.parentNode.parentNode.insertBefore( div, node.parentNode );
			};

			function addChoice(questionIdx, node){
				var elt = document.querySelector("#tplChoice").innerHTML;
			    var modelData = { qIdx: questionIdx, cIdx: ++_cIdx};
			    var html = Mustache.render(elt, modelData);
			    var div = document.createElement("div");
			    div.innerHTML = html;
			    node.parentNode.parentNode.insertBefore( div, node.parentNode );
			};

			function saveForm(){
				console.log("saveForm");
				var obj = form2js(document.forms.newQ);
				console.log("res", obj);
			};

		</script>
		<div style="background: silver">
			<p>--- QUESTION CREATION: DEV ONLY ---</p>
			<form name="newQ" autocomplete="off" onsubmit="saveForm(); return false;">
				<div class="row">
					<div class="col">
						<label>Questionnaire name</label>
						<input type="text" name="name" />
					</div>
					<div class="col">
						<label>Questionnaire text</label>
						<input type="text" name="text" />
					</div>
				</div>
				<hr>
				<div class="row control">
					<span class="spacer"></span>
					<button id="addHeader" type="button" class="blue" onclick="addHeaderQuestion()">New Header Question</button>
					<button id="addSimple" type="button" class="blue" onclick="addSimpleQuestion()">New Simple Question</button>
				</div>
				<div class="row control">
					<span class="spacer"></span>
					<button class="blue">Save</button>
				</div>
			</form>
			<p>--- QUESTION CREATION: DEV ONLY ---</p>
		</div>
<!-- DEV ONLY -->


	</div>
{% endblock %}