{% extends './page.htm' %}

{% block title %}{{ "Create/Update a questionnaire"|i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/mustache/mustache.js"></script>
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>

<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>
<script src="/tpl/questionnaireCreation.js"></script>

<link rel="stylesheet" href="/styles/questionnaireCreation.css">

{% endblock %}

{% block content %}
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>

<script type="text/template" id="tplHeaderQuestion">
	<div class="row control spaced">
		<span class="spacer"></span>
		<button type="button" class="small red deleteQuestion">Delete header question</button>
	</div>

	<div class="row">
		<label class="bold">Header ref: </label>
		<input type="text" name="{%raw%}{{name}}.headerRef{%endraw%}" />
	</div>

	<div class="row">
		<label class="bold">{%raw%}Header (<span class="lang-info"></span>):  {%endraw%}</label>
		{% for item in communication.items %}
			<input type="text" name="{%raw%}{{name}}{%endraw%}.headerLabel.{{item.value}}" id="{{item.value}}" class="trad-input hidden" />
		{% endfor %}
	</div>

	<div class="row">
		<label class="bold">Subscore: </label>
		<input type="text" name="{%raw%}{{name}}.subscore{%endraw%}" />
	</div>

	<div class="row control btnContainer">
		<span class="spacer"></span>
		<button type="button" class="small blue addHeaderQuestion" data-obj="{%raw%}{{name}}.questions;{%endraw%}">Add header question</button>
		<button type="button" class="small blue addQuestion" data-obj="{%raw%}{{name}}.questions;{%endraw%}">Add question</button>
	</div>
</script>

<script type="text/template" id="tplQuestion">

	<div class="row control spaced">
		<span class="spacer"></span>
		<button type="button" class="small red deleteQuestion">Delete question</button>
	</div>

	<div class="row">
		<label class="bold">Question ref: </label>
		<input type="text" name="{%raw%}{{name}}.ref{%endraw%}" />
	</div>
	<div class="row">
		<label class="bold">{%raw%}Trad: (<span class="lang-info"></span>){%endraw%}</label>
		{% for item in communication.items %}
			<input type="text" name="{%raw%}{{name}}{%endraw%}.label.{{item.value}}" id="{{item.value}}" class="trad-input hidden" />
		{% endfor %}
	</div>

	<div class="row control btnContainer">
		<span class="spacer"></span>
		<button type="button" class="small blue addChoice" data-obj="{%raw%}{{name}}.choice;{%endraw%}">Add choice</button>
	</div>

</script>

<script type="text/template" id="tplChoice">

	<div class="row">
		<div class="col">
			<label>Choice ref</label>
			<input type="text" name="{%raw%}{{name}}.ref{%endraw%}" />
		</div>
		<div class="col">
			<label>{%raw%}Trad (<span class="lang-info"></span>): {%endraw%}</label>
			{% for item in communication.items %}
			<input type="text" name="{%raw%}{{name}}{%endraw%}.label.{{item.value}}" id="{{item.value}}" class="trad-input hidden" />
			{% endfor %}
		</div>
	</div>

	<div class="row">
		<div class="col">
			<label>Choice Value</label>
			<input type="text" name="{%raw%}{{name}}.value{%endraw%}" />
		</div>
		<div class="col">
			<label>Choice System</label>
			<select name="{%raw%}{{name}}.system{%endraw%}">
	    		<option value="integer">integer</option>
	    		<option value="boolean">boolean</option>
	    		<option value="decimal">decimal</option>
	    		<option value="string">string</option>
	    	</select>
		</div>
	</div>

	<div class="row">
		<div class="col btnContainer">
			<div class="spacer"></div>
			<button type="button" class="small red deleteChoice">Delete</button>
		</div>
	</div>

</script>

{% macro tpl(q, idx) %}
	{% set name = "questions" %}
	{% for key, val in idx %}
		{% set name += "["+val+"]" %}
		{% if !loop.last %}
			{% set name += ".questions" %}
		{% endif %}
	{% endfor %}

	<div class="row control spaced">
		<span class="spacer"></span>
		<button type="button" class="small red deleteQuestion">
		{% if q.headerRef %}
			Delete header question
		{% else %}
			Delete question
		{% endif %}
		</button>
	</div>

	{% if q.headerRef %}
		<div class="row">
			<label class="bold">Header ref: </label>
			<input type="text" name="{{name}}.headerRef" value="{{q.headerRef}}" />
		</div>
		<div class="row">
			<label class="bold">Trad: (<span class="lang-info"></span>) </label>
			{% for item in communication.items %}
				<input type="text" name="{{name}}.headerLabel.{{item.value}}" value="{% if q.headerLabel[item.value] %}{{ q.headerLabel[item.value] }}{% endif %}" id="{{item.value}}" class="trad-input hidden" />
			{% endfor %}
		</div>
		<div class="row">
			<label class="bold">Subscore: </label>
			<input type="text" name="{{name}}.subscore" value="{{q.subscore}}" />
		</div>
		<hr class="nested-space">
		{% for subQ in q.questions %}
			{% set idx = idx|push(loop.index) %}
			<div class="nestedQuestionnaire">
				{{tpl(subQ, idx)}}
			</div>
			{% set idx = idx|pop() %}

			{% if loop.last %}
				<div class="row control btnContainer">
					<span class="spacer"></span>
					<button type="button" class="small blue addHeaderQuestion" data-obj="{{name}}.questions;">Add header question</button>
					<button type="button" class="small blue addQuestion" data-obj="{{name}}.questions;">Add question</button>
				</div>
			{% endif %}
		{% endfor %}
	{% else %}
		<div class="row">
			<label class="bold">Question ref: </label>
			<input type="text" name="{{name}}.ref" value="{{q.ref}}" />
		</div>

		<div class="row">
			<label class="bold">Question (<span class="lang-info"></span>): </label>
			{% for item in communication.items %}
				<input type="text" name="{{name}}.label.{{item.value}}" value="{% if q.label[item.value] %}{{ q.label[item.value] }}{% endif %}" id="{{item.value}}" class="trad-input hidden" />
			{% endfor %}
		</div>
	{% endif %}

	<div class="answer-list">
	{% for c in q.choice %}
		<div class="answer">

			<div class="row spaced">

				<div class="bold label-question">
					{{c.label[lang]}}
				</div>
				<div class="spacer"></div>

				<button type="button" class="small blue mode-read" onclick="showQuestion(this, true)">Show</button>
				<button type="button" class="small blue mode-edit hidden" onclick="showQuestion(this, false)">Hide</button>

			</div>

			<div class="row mode-edit hidden">

				<div class="col">
					<label>Choice ref</label>
					<input type="text" name="{{name}}.choice[{{loop.index}}].ref" value="{{c.ref}}" />
				</div>
				<div class="col input-label-update">
					{{loop.index}}<label>Trad: (<span class="lang-info"></span>)</label>
					{% set idx = loop.index;%}
					{% for item in communication.items %}
						{{idx}}<input type="text" name="{{name}}.choice[{{idx}}].label.{{item.value}}" value="{% if c.label[item.value] %}{{ c.label[item.value] }}{% endif %}" id="{{item.value}}" class="trad-input hidden" onkeyup="updateLabel(this)" />
					{% endfor %}
				</div>
			</div>
			<div class="row mode-edit hidden">

				<div class="col">
					<label>Choice Value</label>
					<input type="text" name="{{name}}.choice[{{loop.index}}].value" value="{{c.value}}" />
				</div>
				<div class="col">
					<label>Choice System</label>
					<select name="{{name}}.choice[{{loop.index}}].system">
			    		<option value="integer" {% if c.system === "integer" %}selected{% endif %}>integer</option>
			    		<option value="boolean" {% if c.system === "boolean" %}selected{% endif %}>boolean</option>
			    		<option value="decimal" {% if c.system === "decimal" %}selected{% endif %}>decimal</option>
			    		<option value="string" {% if c.system === "string" %}selected{% endif %}>string</option>
			    	</select>
				</div>

			</div>

			<div class="row mode-edit hidden">

				<div class="col btnContainer">
					<div class="spacer"></div>
					<button type="button" class="small red deleteChoice">Delete</button>
				</div>

			</div>
		</div>

		{% if loop.last %}
			<div class="row control btnContainer">
				<span class="spacer"></span>
				<button type="button" class="small blue addChoice" data-obj="{{name}}.choice;">Add choice</button>
			</div>
		{% endif %}

	{% endfor %}
	</div>

{% endmacro %}

<div class="mainContainer">
	<form name="newQ" autocomplete="off" onsubmit="saveForm(); return false;">
		<input id="questionnaireID" type="hidden" name="_id" value="{{questionnaire._id.toString()}}"/>
		<div class="row">
			<div class="spacer"></div>
			<label>{{ "Language"| i18n }} :</label>
			<select name="lang" id="lang" onchange="changeLang(this.value);">
				{% for item in communication.items %}
				<option value="{{item.value}}">{{item.label}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="row">
				<label class="bold">Questionnaire name</label>
				<input type="text" name="name" value="{{questionnaire.name}}"/>
		</div>
		<div class="row">
			<label class="bold">Questionnaire ref</label>
			<input type="text" name="ref" value="{{questionnaire.ref}}"/>
		</div>
		<!-- <div class="col">
			<label>Trad: ({{lang}})</label>
			<input type="text" name="label.{{lang}}" {% if questionnaire.label[lang] %}value="{{questionnaire.label[lang]}}"{% endif %}/>
		</div> -->
		{% for q in questionnaire.questions %}
			<div class="itemContainer">
				{% set number = "" %}
				{{tpl(q, [loop.index])}}
			</div>
		{% endfor %}
		<div class="row control btnContainer">
			<span class="spacer"></span>
			<button id="addHeader" type="button" class="blue addHeaderQuestion" data-obj="questions;">New Header Question</button>
			<button id="addSimple" type="button" class="blue addQuestion" data-obj="questions;">New Simple Question</button>
		</div>
		<div class="row control">
			<span class="spacer"></span>
			<button type="button" class="red" onclick="window.history.back()">Cancel</button>
			<button class="blue">Save</button>
		</div>
	</form>
</div>

{% include 'modal.htm' %}

{% endblock %}