{% extends './page.htm' %}

{% block title %}{{"Questionnaire overview" | i18n}}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/rsvp/rsvp.min.js"></script>
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/tpl/questionnaireOverview.js"></script>
{% endblock %}
{% block content %}

<style>
	div.row label {
		width: 350px;
	}
	.answers {
		margin-left: 30px;
	}
	.space {
		/* width: 20%; */
		margin: 30px auto;
		border-color: black;
	}
	.nestedQuestionnaire {
		margin-left: 20px;
	}
</style>

{% macro tpl(q, idx) %}
	{% set name = "questions" %}
	{% for key, val in idx %}
		{% set name += "["+val+"]" %}
		{% if !loop.last %}
			{% set name += ".questions" %}
		{% endif %}
	{% endfor %}

	{% if q.headerRef %}
		<div class="bold">{{idx|join("-")}} - {{q.headerLabel[lang]}}</div>
		<input type="hidden" name="{{name}}.subscore" value="{{q.subscore}}" />
		<hr>
		{% for subQ in q.questions %}
			{% set idx = idx|push(loop.index) %}
			<div class="nestedQuestionnaire">
				{{tpl(subQ, idx)}}
			</div>
			{% set idx = idx|pop() %}
		{% endfor %}
	{% else %}
		<div class="row">
			<div>{{idx|join("-")}} - {{q.label[lang]}}</div>
		</div>
		<br/>
	{% endif %}
	{% for c in q.choice %}
		<div class="row answers">
			{% if !c.label[lang] %}
				<input type="text" name="{{name}}.choice" required />
			{% else %}
				<label for="{{name}}.choice">{{c.label[lang]}}</label>
				<input type="radio" name="{{name}}.choice" value="{{c.value}}" required />
			{% endif %}
		</div>
		{% if loop.last %}
			<br/>
		{% endif %}
	{% endfor %}
{% endmacro %}

<div class="mainContainer">
	<h2>{{questionnaire.label[lang]}}</h2>
	<form autocomplete="off" name="questionnaire" onsubmit="checkForm(); return false;">
		<input type="hidden" name="ref" value="{{questionnaire._id.toString()}}" />
		<input type="hidden" name="score" value="{{questionnaire.score}}" />
		{% for q in questionnaire.questions %}
			<div class="itemContainer">
				{% set number = "" %}
				{{tpl(q, [loop.index])}}
			</div>
			{% if !loop.last %}
				<hr class="space">
			{% endif %}
		{% endfor%}
		<div class="row control">
			<span class="spacer"></span>
			<button class="green">{{'Validate' | i18n}}</button>
		</div>
	</form>

	<zdk-modal id="statusModal" closebutton="false">
		<div class="modalContainer">
			<div class="modalTitleContainer">{{'Result' | i18n}}</div>
			<div class="modalContentContainer">{{'Your score is: ' |i18n}}<span id="score">{{score}}</span></div>
			<div class="modalButtonContainer">
				<button class="green" onclick="closeModal();">{{'OK' | i18n}}</script>
			</div>
		</button>
	</zdk-modal>
</div>

<div id="questionnaireName" class="hidden">{{questionnaire.name}}</div>
{% endblock %}
