{% extends './page.htm' %}

{% block title %}{{ 'Access management' | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

<link rel="stylesheet" href="../styles/current.css">

{% endblock %}

{% block content %}
<style>
.item-name {
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.row.items {
	margin: 0;
	padding: 5px;
}

div.row.items:nth-child(even) {
	background-color: #eee;
}

.space0 { padding-left:5px }
.space1 { padding-left:25px }
.space2 { padding-left:50px }
.space3 { padding-left:75px }
</style>

<form id="form" onsubmit="checkForm(); return false;">

	<div class="row">
		<label for="roleSelect">{{'Select role :' | i18n}}</label>
		<select id="roleSelect" name="role">
		{% for role in roles %}
			<option value="{{role.ref}}">{{role.label.en || role.ref}}</option>
		{% endfor %}
		</select>
		<input id="roleInput" type="hidden" name="role" value="NONE" />
	</div>

	{% macro displayItem(item, ind) %}

		<div class="row items space{{ind}}">
			
			<div class="item-name"><div class="space{{ind}}">{{item.label | i18n }}</div></div>
	
			<input type="hidden" name="rights[{{item._id.toString()}}][id]" value="{{item._id.toString()}}" />
	
			{% for role in roles %}
			<div class="roles hidden" data-role="{{role.ref}}">
				<input type="checkbox" name="rights[{{item._id.toString()}}][{{role.ref}}][read]" value="1" {% if item.rights[role.ref] > 0 %}checked{% endif %} /> {{'Read' | i18n}}
			</div>
			<div class="roles hidden" data-role="{{role.ref}}">
				<input type="checkbox" name="rights[{{item._id.toString()}}][{{role.ref}}][write]" value="1" {% if item.rights[role.ref] === 2 %}checked{% endif %} /> {{'Write' | i18n}}
			</div>
			{% endfor %}
		</div>
	
		
		{% for child in item.items %}
			{{ displayItem(child, ind+1 ) }}
		{% endfor %}

	{% endmacro %}
	
	{% set ind = 0 %}
	{% for item in items %}
		{{ displayItem(item, 0) }}
	{% endfor %}

	<div id="buttons" class="row control">
		<span class="spacer"></span>
		<button type="button" class="red" onclick="cancel();">{{'Cancel' | i18n}}</button>
		<button class="green">{{'Save' | i18n}}</button>
	</div>
</form>

{% include "./modal.htm" %}

<script src="/tpl/rights.js"></script>
{% endblock %}