{% extends './page.htm' %}

{% block title %}{{ "Basic social services" | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/scripts/utils.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">
<link rel="import" href="/bower_components/zdk-calendar/custom-icons.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">

<link rel="stylesheet" href="/styles/services.css">
<style shim-shadowdom >
	zdk-input-date #divcalendar {
		left:none !important;
	}
	
	#agenda::shadow #banner {
		display: none;
	}
	zdk-modal#dialog-agenda .modalContentContainer {
		margin: 50px 10px 50px 10px;
		border: solid 1px #ddd;
	}
	
	zdk-modal#dialog-agenda .modalButtonContainer.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 10px;
	}
	
	zdk-modal#dialog-agenda .modalButtonContainer.top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 10px;
		margin: 10px 0px 20px 0px;
	}
</style>
{% endblock %}

{% block content %}
<div class="row title">
	<label class="title">{{"Basic social services" | i18n }}</label>
</div>

{% if rights.write %}
<div class="row control" style="margin-bottom:20px">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>
{% endif %}

<template id="services" repeat="{%raw%}{{ service in services }}{%endraw%}" is="auto-binding">
	<div class="service" id="{%raw%}{{ service._id }}{%endraw%}">
		{%raw%}
		<input type="hidden" name="category" value="{{service.category}}">
		<div class="row title2 {{ service.active?'':'deactivate' }}" onclick="expand(this)">
			<core-icon icon="{{ service._id === serviceID?'expand-more':'expand-less' }}"></core-icon>
			<span>{{ refServices[service.ref].label[ lang ] }}</span>
			<template if="{{ service.label }}">
				<span>&nbsp;: {{ service.label }}</span>
			</template>
		</div>
		{%endraw%}
		
		<div class="content {%raw%}{{ service._id === serviceID?'':'hidden' }}{%endraw%}">
			<template if="{%raw%}{{ service.active === false }}{%endraw%}">
				<div class="row h1" style="color:red">
					<div class="col05"></div>
					<div class="col">
						<span><b>{{"deactivate by"|i18n}} :</b></span>&nbsp;<span>{%raw%}{{ service.deactivated.sourceName.family }} {{ service.deactivated.sourceName.given}}{%endraw%}</span>
					</div>
					<div class="col">
						<span><b>{{"date"}} :</b></span>&nbsp;<span>{%raw%}{{ service.deactivated.date | fulldate }}{%endraw%}</span>
					</div>
				</div>
			</template>
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Prescriber"|i18n}}</label><span>{%raw%}{{ service.sourceName.family }} {{ service.sourceName.given}}{%endraw%}</span>
				</div>
			</div>
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Provider"|i18n}}</label><span>{%raw%}{{ providers[service.provider].name.family }} {{ providers[service.provider].name.given}}{%endraw%}</span>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col" style="width:200px">
					<label>{{"Detail of the service"|i18n}}</label>
				</div>
			</div>
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
			<textarea rows="5" cols="60" wrap="hard">{%raw%}{{service.detail}}{%endraw%}</textarea>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Start date"|i18n}}</label><span>{%raw%}{{service.startDate}}{%endraw%}</span>
				</div>
				<div class="col">
					<template if="{%raw%}{{ service.frequency !== 'punctual' }}{%endraw%}">
						<label>{{"End date"|i18n}}</label><span>{%raw%}{{service.endDate}}{%endraw%}</span>
					</template>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Start at(time)"|i18n}}</label><span>{%raw%}{{ service.time }}{%endraw%}</span>
				</div>
				<div class="col">
					<label>{{"Time of service"|i18n}}</label><span>{%raw%}{{ service.duration | time }}{%endraw%}</span>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Frequency"|i18n}}</label><span>{%raw%}{{service.frequency}}{%endraw%}</span>
				</div>
			</div>
			
			<template if="{%raw%}{{ service.frequency === 'monthly' }}{%endraw%}">
				<div class="row h1">
					<div class="col05"></div>
					<div class="col">
						<ul>
							<template repeat="{%raw%}{{ day in service.when }}{%endraw%}">
								<li class="day">{% raw %}{{day | monthDay}}{% endraw %}</li>
							</template>
						</ul>
					</div>
			</div>
			</template>
			
			<template if="{%raw%}{{ service.frequency === 'weekly' }}{%endraw%}">
				<div class="row h1">
					<div class="col05"></div>
					<div class="col">
						<ul class="day">
							<template repeat="{%raw%}{{ day in service.when }}{%endraw%}">
								<li>{%raw%}{{ day | weekday }}{%endraw%}</li>
							</template>
						</ul>
					</div>
				</div>
			</template>
			
			{% if rights.write %}
			<template if="{%raw%}{{ service.active === true }}{%endraw%}">
			<div class="row h1 control">
				<span class="spacer"></span>
				<button type="button" class="small red" onclick="deactivate('{%raw%}{{ service._id }}{%endraw%}')">{{"Deactivate"|i18n}}</button>
				<button type="button" class="small green" onclick="showForm('{%raw%}{{service._id}}{%endraw%}')">{{"Edit"|i18n}}</button>
			</div>
			</template>
			{% endif %}
		</div>
	</div>
</template>

{% if rights.write %}
<div class="row control">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>
{% endif %}

{% if rights.write %}
<zdk-modal id="form" closebutton="false">
	<div class="content">
	{% include "./serviceCreate.html" %}
	</div>
</zdk-modal>
{% endif %}

<div class="hidden monthDay">{{ "on the ${nb} ${day} of the month" | i18n}}</div>
<div class="hidden WeekNb">{{ "first|second|third|fourth|fifth" | i18n}}</div>

<core-ajax id="ajaxProfessionals"
           auto
           url="/api/beneficiary/professionals"
           handleAs="json"></core-ajax>
<core-ajax id="ajaxJobs"
           auto
           url="/api/lists/job/array"
           handleAs="json"></core-ajax>
<core-ajax id="ajaxServices"
           auto
           url="/api/lists/{{category}}Services"
           handleAs="json"></core-ajax>
<core-ajax id="ajaxPrescribedServices"
           auto
           url="/api/beneficiary/services?category={{category}}&active=false"
           handleAs="json"></core-ajax>
{% if rights.write %}
<core-ajax id="deactivateService"
           method="DELETE"
           url="/api/beneficiary/services/"
           handleAs="json"></core-ajax>
{% endif %}

<script>
	var hours  = [ 
		"07:00", "07:30", "08:00", "08:30", "09:00", "09:00", 
		"10:00", "10:30", "11:00", "11:30", "12:00", "12:30", 
		"13:00", "13:30", "14:00", "14:30", "15:00", "15:30", 
		"16:00", "16:30", "17:00", "17:30", "18:00", "18:30",
		"19:00", "19:30", "20:00", "20:30", "21:00", "21:30"
	];
	var durations = [ 
		{value:30, label:'00:30'}, {value:60, label:'01:00'}, {value:90, label:'01:30'}, {value:120, label:'02:00'},
		{value:150, label:'02:30'}, {value:180, label:'03:00'}, {value:210, label:'03:30'}, {value:240, label:'04:00'},
	];
	
	var editedService,
		frequency,
		tplServices,
		professionals,
		jobs,
		refServices,
		lang = Cookies.get("lang"),
		data = { lang    : lang, serviceID:'' };
	
	moment.locale( lang );
	
	PolymerExpressions.prototype.time = function(value) {
		if( value ) return moment("2015-01-01").add(moment.duration( { "minutes": value }) ).format("HH:mm");
	};
	
	PolymerExpressions.prototype.weekday = function(value) {
		if( value !== undefined ) {
			moment.locale( lang );
			return moment.weekdays()[value];
		}
	};
	
	PolymerExpressions.prototype.fulldate = function(value) {
		if( value ) {
			console.log( value );
			moment.locale(lang);
			return moment(value).format("LLL");
		}
	};
	
	PolymerExpressions.prototype.weekdayShort = function(value) {
		if( value !== undefined ) {
			moment.locale( lang );
			return moment.weekdaysShort()[value];
		}
	};
	
	PolymerExpressions.prototype.monthDay = function(value) {
		if( value ) {
			moment.locale(lang);
			var str = document.querySelector("div.monthDay").innerHTML;
			var nb = document.querySelector("div.WeekNb").innerHTML.split("|");
			var day = moment.weekdays()[value % 10];
			var week = parseInt(value / 10, 10)-1;
			str = str.replace("${nb}",nb[week]);
			str = str.replace("${day}",day);
			return str;
		}
	};
	
	function init() {
		tplServices = document.querySelector("#services");
		
		document.querySelector("#ajaxProfessionals")
			.addEventListener("core-response", function(evt) {
				professionals = evt.detail.response;
				
				var tmp = {};
				professionals.forEach( function(item) {
					tmp[item._id] = item;
				});
				data.providers = tmp;
				renderTpl();
			});
		document.querySelector("#ajaxJobs")
			.addEventListener("core-response", function(evt) {
				jobs = evt.detail.response.items;
				data.jobs = jobs;
				renderTpl();
			});
		document.querySelector("#ajaxServices")
			.addEventListener("core-response", function(evt) {
				refServices = evt.detail.response.items;
				var tmp = {};
				refServices.forEach( function(item) {
					tmp[item.ref] = item;
				});
				data.refServices = tmp;
				renderTpl();
			});
		document.querySelector("#ajaxPrescribedServices")
			.addEventListener("core-response", function(evt) {
				data.services = evt.detail.response;
				renderTpl();
			});
		if( document.querySelector("#deactivateService") ) {
			document.querySelector("#deactivateService")
				.addEventListener("core-response", function (evt) {
					console.log("deactivate service", evt.detail.response);
					document.querySelector("#ajaxPrescribedServices").go();
				});
		}
	}
	function renderTpl() {
		if( data.providers && data.jobs && data.refServices && data.services ) {
			tplServices.model = data;
		}
	}
	
	window.addEventListener("polymer-ready", init, false);

	function expand(obj) {
		var parent = obj.parentNode;
		if( tplServices.model.serviceID !== parent.id ) {
			tplServices.model.serviceID = parent.id;
		} else {
			tplServices.model.serviceID = null;
		}
	}
	
	function deactivate( serviceID ) {
		var ajax = document.querySelector("#deactivateService");
		ajax.url = "/api/beneficiary/services/"+serviceID;
		ajax.go();
	}
</script>

{% include "./modal.htm" %}
{% endblock %}