{% extends './page.htm' %}

{% block title %}{{ "Basic health services" | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/scripts/utils.js"></script>
<script src="/bower_components/zdk-calendar/form2js.js"></script>
<link rel="import" href="/bower_components/zdk-agenda/zdk-agenda.html">
<link rel="import" href="/bower_components/zdk-calendar/zdk-input-date.html">
<link rel="import" href="/bower_components/zdk-calendar/custom-icons.html">

<link rel="stylesheet" href="/styles/services.css">
<style shim-shadowdom >
	zdk-input-date #divcalendar {
		left:none !important;
	}
	
	#agenda::shadow #banner {
		display: none;
	}
	zdk-modal#dialog-agenda .modalContentContainer {
		margin: 50px 10px 50px 10px;
		border: solid 1px #ddd;
	}
	
	zdk-modal#dialog-agenda .modalButtonContainer.bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 10px;
	}
	
	zdk-modal#dialog-agenda .modalButtonContainer.top {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding: 0 10px;
		margin: 10px 0px 20px 0px;
	}
</style>
{% endblock %}

{% block content %}
<div class="row title">
	<label class="title">Basic health services</label>
</div>

<div class="row control" style="margin-bottom:20px">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>

<template id="services" repeat="{%raw%}{{ service in services }}{%endraw%}" is="auto-binding">
	<div class="service">
		{%raw%}
		<div class="row title2" onclick="expand(this)">
			<core-icon icon="expand-less"></core-icon>
			<span>{{ service.refLabel[ lang ] }}</span>
			<template if="{{ service.label }}">
				<span>&nbsp;: {{ service.label }}</span>
			</template>
		</div>
		{%endraw%}
		
		<div class="content hidden">
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Prescriber"|i18n}}</label><span>{%raw%}{{ service.sourceName.given}} {{ service.sourceName.family}}{%endraw%}</span>
				</div>
				<div class="col">
					<label>{{"Provider"|i18n}}</label><span>{%raw%}{{ service.providerName.given}} {{ service.providerName.family}}{%endraw%}</span>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col" style="width:200px">
					<label>{{"Detail of the service"|i18n}}</label>
				</div>
			</div>
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
			<textarea rows="5" cols="60" wrap="hard">{%raw%}{{service.detail}}{%endraw%}</textarea>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Start date"|i18n}}</label><span>{%raw%}{{service.startDate}}{%endraw%}</span>
				</div>
				<div class="col">
					<label>{{"End date"|i18n}}</label><span>{%raw%}{{service.endDate}}{%endraw%}</span>
				</div>
			</div>
			
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<template if="{%raw%}{{ service.frequency !== 'weekly' }}{%endraw%}">
						<label>{{"Start at"|i18n}}</label><span>{%raw%}{{ service.time }}{%endraw%}</span>
					</template>
				</div>
				<div class="col">
					<label>{{"Time of service"|i18n}}</label><span>{%raw%}{{ service.duration }}{%endraw%}</span>
				</div>
			</div>
			<template if="{%raw%}{{ service.frequency !== 'ponctual' }}{%endraw%}">
			<div class="row h1">
				<div class="col05"></div>
				<div class="col">
					<label>{{"Frequency"|i18n}}</label><span>{%raw%}{{service.frequency}}{%endraw%}</span>
				</div>
			</div>
			</template>
			
			<template if="{%raw%}{{ service.frequency === 'monthly' }}{%endraw%}">
				<div class="row h1">
					<div class="col05"></div>
					<div class="col">
						<ul>
							<template repeat="{%raw%}{{ date in service.when }}{%endraw%}">
								<template if="{%raw%}{{ date === 1 }}{%endraw%}">
									<li class="day">{%raw%}{{date}}{%endraw%}st of month</li>
								</template>
								<template if="{%raw%}{{ date === 2 }}{%endraw%}">
									<li class="day">{%raw%}{{date}}{%endraw%}nd of month</li>
								</template>
								<template if="{%raw%}{{ date !== 1 && date !==2 }}{%endraw%}">
									<li class="day">{%raw%}{{date}}{%endraw%}th of month</li>
								</template>
							
							</template>
						</ul>
					</div>
			</div>
			</template>
			
			<template if="{%raw%}{{ service.frequency === 'weekly' }}{%endraw%}">
				<div class="row h1">
					<div class="col05"></div>
					<div class="col">
						<ul>
							<template repeat="{%raw%}{{ date in service.when }}{%endraw%}">
								<li class="day">{%raw%}{{date.day}}{%endraw%} {{"at"|i18n}} {%raw%}{{date.time}}{%endraw%}</li>
							</template>
						</ul>
					</div>
				</div>
			</template>
			
			<div class="row h1 control">
				<span class="spacer"></span>
				<button type="button" class="small red">{{"Deactivate"|i18n}}</button>
				<button type="button" class="small green" onclick="showForm('{%raw%}{{service._id}}{%endraw%}')">{{"Edit"|i18n}}</button>
			</div>
		</div>
	</div>
</template>

<div class="row control">
	<span class="spacer"></span>
	<button type="button" class="blue" onclick="showForm()">{{"Add a new service"|i18n}}</button>
</div>

<zdk-modal id="form" closebutton="false">
	<div class="content">
	{% include "./serviceCreate.html" %}
	</div>
</zdk-modal>

<script>
	var hours  = [ 
		"07:00", "07:30", "08:00", "08:30", "09:00", "09:00",
	    "10:00", "10:30", "11:00", "11:30", "12:00", "12:30",
	    "13:00", "13:30", "14:00", "14:30", "15:00", "15:30", 
	    "16:00", "16:30", "17:00", "17:30", "18:00", "18:30",
		"19:00", "19:30", "20:00", "20:30", "21:00", "21:30"
	];
	var data = { lang    : 'fr' , services: [] };
	var editedService;
	var frequency;
	
	function init() {
		var tpl = document.querySelector("#services");
		
		var xhr = new XMLHttpRequest();
		xhr.open("GET", "/api/beneficiary/services?category=social", true);
		xhr.addEventListener("load", function () {
			data.services = JSON.parse(xhr.responseText);
			console.log(data);
			tpl.model = data;
		}, false);
		xhr.send();
	}
	window.addEventListener("polymer-ready", init, false);

	function expand(obj) {
		var parent = obj.parentNode;
		if(parent.querySelector(".content").classList.contains("hidden")) {
			parent.querySelector("core-icon").setAttribute("icon", "expand-more");
		} else {
			parent.querySelector("core-icon").setAttribute("icon", "expand-less");
		}
		parent.querySelector(".content").classList.toggle("hidden");
	}
	
	function showForm( serviceID) {
		var modal = document.querySelector("zdk-modal#form");
		var tpl = document.querySelector("#formTpl");
		modal.show();
		
		if( !serviceID ) {
			editedService = {
				title    : '',
				detail   : '',
				startDate: '',
				endDate  : '',
				frequency: 'daily',
				repeat   : 1,
				duration: "01:00",
				time: "10:00"
			};
			tpl.model = {
				hours : hours,
				service: editedService
			};
		} else {
			data.services.forEach( function(item) {
				if( item._id === serviceID ) {
					editedService = item;
				}
			});
			tpl.model = {
				hours  : hours,
				service: editedService
			};
		}
	}
	
	function cancelForm() {
		/*
		 var form = document.querySelector("form");
		 console.log(form);
		 document.querySelector("form").reset();
		 document.querySelector("zdk-input-date#input-start").value = null;
		 document.querySelector("zdk-input-date#input-end").value = null;
		 */
		document.querySelector("zdk-modal#form").hide();
	}
	
	function frequencyChange(evt) {
		var tpl = document.querySelector("#formTpl");
		if( tpl.model.service.frequency === evt.target.value ) { return; }
		
		setFrequency(evt.target.value);
	}
	
	function setFrequency( _frequency ) {
		var tpl = document.querySelector("#formTpl");
		tpl.model.service.frequency = _frequency;
		
		switch (frequency) {
			case 'punctual':
				tpl.model.service.duration = "01:00";
				tpl.model.service.time = "10:00";
				break;
			case 'daily':
				tpl.model.service.time = "10:00";
				break;
			case 'weekly':
				tpl.model.service.duration = "01:00";
				break;
			case 'monthly':
				tpl.model.service.duration = "01:00";
				tpl.model.service.time = "10:00";
				break
		}
	}
	
	document.getElementById('btn-warning-cancel').addEventListener('click', function() {
		document.getElementById('dialog-warning-frequency').hide();
		var tpl = document.querySelector("#formTpl");
		
		tpl.model.service.frequency = editedService.frequency;
		tpl.model.service.duration = editedService.duration;
		tpl.model.service.time = editedService.time;
	});
	
	document.getElementById('btn-warning-confirm').addEventListener('click', function() {
		document.getElementById('dialog-warning-frequency').hide();
		//setFrequency(document.form.frequency.value);
		//days = [];
		var tpl = document.querySelector("#formTpl");
		setFrequency(frequency);
	});
</script>

{% include "./modal.htm" %}
{% endblock %}