{% extends '../page.htm' %}

{% block title %}{{ 'Healthcare: current health status' | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

<link rel="stylesheet" href="../styles/current.css">

{% endblock %}

{% block content %}
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>
<div id="content">
	<zdk-panel heading="{{ 'Distance travelled' | i18n }}">
		<form name="form" id="form" autocomplete="off" onsubmit="checkForm(); return false;">
			<div class="row value-row">
				<div class="value-name">{{'Number of steps'|i18n}}</div>
				<input type="number" step="1" min="0" name="stepsNumber" class="value-input" value="{{status.stepsNumber}}" {% if status.validated %}disabled{% endif %} />
				<div class="value-unit">{{'steps per week'|i18n}}</div>
			</div>

			{% if rights.write %}
				{% if !status.validated %}
				<div id="buttons" class="row control">
					<span class="spacer"></span>
					<button type="button" class="blue" onclick="showConfirm();">{{'Validate'|i18n}}</button>
					<button type="button" class="red" onclick="modified=false; location.reload();">{{'Cancel'|i18n}}</button>
					<button class="green">{{'Save'|i18n}}</button>
				</div>
				{% endif %}
			{% endif %}
		</form>
	</zdk-panel>
</div>

{% include "../modal.htm" %}

<zdk-modal id="confirmModal" closebutton="false">
	<div class="modalContainer">
		<div class="modalTitleContainer">{{'Confirmation' | i18n}}</div>
		<div class="modalContentContainer">{{'Are you sure?' |i18n}}</div>
		<div class="modalButtonContainer">
			<button class="red" onclick="hideConfirm();">{{'Cancel' | i18n}}</script>
			<button class="green" onclick="hideConfirm(); checkForm(true);">{{'Validate' | i18n}}</script>
		</div>
	</button>
</zdk-modal>

<script src="/scripts/questionnaireButton.js"></script>
<script src="/tpl/current/activity.js"></script>
{% endblock %}