{% extends '../page.htm' %}

{% block title %}{{ 'Healthcare: current health status' | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

{% endblock %}

{% block content %}
<zdk-panel heading="{{ 'Distance travelled' | i18n }}">
	<form name="form" id="formActivity" autocomplete="off" onsubmit="checkActivityForm(); return false;">
		<div class="row value-row">
			<div flex class="value-name">Number of steps (optional)</div>
			<input type="checkbox" name="stepsCheck" class="value-checkbox" {% if activity.stepsCheck %}checked{% endif %} />
			<input type="text" name="stepsNumber" class="value-input" value="{{activity.stepsNumber}}" />
			<div class="value-unit">steps per week</div>
		</div>
		<div class="row control">
			<span class="spacer"></span>
			<button class="blue">Validate</button>
			<button class="red">Cancel</button>
			<button class="green">Save</button>
		</div>
	</form>
</zdk-panel>

<script src="/tpl/current/activity.js"></script>
{% endblock %}