{% extends '../page.htm' %}

{% block title %}{{ "Frailty status" | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

<link rel="stylesheet" href="../styles/current.css">

<script src="/tpl/current/frailty.js"></script>

{% endblock %}

{% block content %}
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>


<div class="hidden" id="validate-status">{{status.validated.status}}</div>

<div id="content">
	{% if status.validated.status && status.validated.date %}
	<div class="validated-date right">
		{{ status.validated.date | date }} {{"by"|i18n}} {{ author.name.family + ' ' + author.name.given }}
	</div>
	{% endif %}

	<zdk-panel heading="{{ 'Frailty status' | i18n }}">
	
		<form name="form" id="form" autocomplete="off">
			
			<!- Parameters ->
			<div class="parameters">
				{% for parameter in status.parameters %}
				<div class="row value-row"  data-name="{{ parameter.name }}">
					<div class="value-name">{{ parameter.name | i18n }}</div>
					<input type="hidden" name="parameters[{{ parameter.name }}].name" value="{{ parameter.name }}" >
					<div class="value-date">{% if parameter.date %}{{ parameter.date | date }}{% endif %}</div>
					<input type="hidden" class="param-date" name="parameters[{{ parameter.name }}].date" value="{{ parameter.date }}" >
					<input
						flex
						id="weightInput"
						class="value-input"
						type="number"
						name="parameters[{{ parameter.name }}].value"
						step="any"
						min="{{parameters.weight.range.min}}"
						max="{{parameters.weight.range.max}}"
						value="{{parameter.value}}"
						onchange="paramChange(this,{% if parameter.value %}{{ parameter.value }}{% else %}null{% endif %} )"
						{% if !rights.write || !beneficiary.active %}disabled{% endif %}/>
					<div class="value-unit">{{"kilogram"|i18n}}</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentWeight">{{"Status" | i18n}}</label>
					<input
						flex
						id="commentWeight"
						class="comment-input"
						type="text"
						name="parameters[{{ parameter.name }}].comment"
						value="{{parameter.comment}}"
						{% if !rights.write || !beneficiary.active %}disabled{% endif %}/>
				</div>
				{% endfor %}
			</div>
			
			<div class="questionnaires">
				<!- Questionnaires ->
				{% for questionnaire in status.questionnaires %}
				<div class="row value-row questionnaire-row" data-name="{{questionnaire.name}}">
					<div class="quest-name">{{ "score" |i18n}}</div>
					<input type="hidden" name="questionnaires[{{ questionnaire.name }}].name" value="{{ questionnaire.name }}" >
					<div class="questionnaire-date">{% if questionnaire.date %}{{ questionnaire.date | date }}{% endif %}</div>
					<input type="hidden" class="questionnaire-dateFormat" name="questionnaires[{{ questionnaire.name }}].date" value="{{ questionnaire.dateFormat }}" >
					<input type="number" class="questionnaire-score" name="questionnaires[{{ questionnaire.name }}].score" value="{{ questionnaire.score }}" readonly />
					<input type="hidden" class="questionnaire-score" name="questionnaires[{{ questionnaire.name }}].score" value="{{ questionnaire.score }}" >
					<input type="hidden" class="questionnaire-answer" name="questionnaires[{{ questionnaire.name }}].answerID" value="{{ questionnaire.answerID }}" />
					<div class="questionnaire-button-container">
						<a
							class="button small blue"  style="margin-right: 10px;"
							href={% if questionnaire.answerID %}"/answers/{{questionnaire.answerID}}"{% else %}"/questionnaire/{{questionnaire.name}}"{% endif %}
						{% if status.validated.status && questionnaire.score === null %}disabled{% endif %}{% if (!rights.write || !beneficiary.active) && !questionnaire.score %}disabled{% endif %}>
						{{"Questionnaire"|i18n}}
						</a>
						<button type="button" class="remove button small red {% if !questionnaire.answerID || status.validated.status %}hidden{% endif %}" data-answer="{{questionnaire.answerID}}" onclick="removeAnswer(this)">{{"Delete"|i18n}}</button>
					</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" >{{"Status" | i18n}}</label>
					<input
						flex
						id="comment{{questionnaire.name}}"
						class="comment-input"
						type="text"
						name="questionnaires[{{ questionnaire.name }}].comment"
						value="{{questionnaire.comment}}"
						{% if !rights.write || !beneficiary.active %}disabled{% endif %}/>
				</div>
				{% endfor %}
			</div>
			
			<div class="row value-row" style="padding-left: 210px">
				{{"Normal"|i18n}}
				<input
					type="radio"
					name="failRisk"
					value="false"
					class="value-checkbox choice-normal"
					style="width:100px"
					{% if !status.failRisk %}checked{% endif %}
					{% if !rights.write || !beneficiary.active %}disabled{% endif %}/>
				{{"Risk of fail"|i18n}}
				<input
					type="radio"
					name="failRisk"
					value="true"
					class="value-checkbox choice-risk"
					{% if status.failRisk %}checked{% endif %}
					{% if !rights.write || !beneficiary.active %}disabled{% endif %}/>
			</div>

		</form>
	</zdk-panel>

	{% if rights.write && beneficiary.active %}
		{% if !status.validated.status %}
		<div id="buttons" class="row control">
			<span class="spacer"></span>
			{% if validate.write %}
			<button type="button" class="blue" onclick="showConfirm();">{{"Validate"|i18n}}</button>
			{% endif %}
			<button type="button" class="red" onclick="modified=false; location.reload();">{{"Cancel"|i18n}}</button>
			<button type="button" class="green" onclick="checkForm();">{{"Save"|i18n}}</button>
		</div>
		{% endif %}
	{% endif %}

</div>

{% include "../modal.htm" %}

<zdk-modal id="confirmModal" closebutton="false">
	<div class="modalContainer">
		<div class="modalTitleContainer">{{"Confirmation"| i18n}}</div>
		<div class="modalContentContainer">
			<p>{{"This action will lock all the datas entered. There is no going back to edit the datas."|i18n}}</p>
			<p>{{"Are you sure you want to continue ?" |i18n}}</p>
		</div>
		<div class="modalButtonContainer">
			<button class="red" onclick="hideConfirm();">{{ "Cancel" | i18n}}</button>
			<button class="green" onclick="hideConfirm(); checkForm(true);">{{"Validate" | i18n}}</button>
		</div>
	</div>
</zdk-modal>

<script src="/scripts/questionnaireButton.js"></script>

{% endblock %}