{% extends '../page.htm' %}

{% block title %}{{ 'Healthcare: current health status' | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

<link rel="stylesheet" href="../styles/current.css">
{% endblock %}

{% block content %}
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>


<div class="hidden" id="validate-status">{{status.validated}}</div>

<div id="content">

	{% if status.validated && status.validatedDate %}
		<div class="validated-date right">
			{{ status.validatedDate | date }} {{"by"|i18n}} {{ author.name.family + ' ' + author.name.given }}
		</div>
	{% endif %}

	<zdk-panel heading="{{ 'Diet values' | i18n }}">
		<form name="form" id="formDiet" autocomplete="off">
			<fieldset>
				<legend>{{'Diet values'|i18n}}</legend>
				<div class="row value-row">
					<div class="value-name">{{'Height'|i18n}}</div>
					<div class="value-date sizeDate">{% if status.sizeDate %}{{status.sizeDate | date}}{% endif %}</div>
					<input
						flex
						id="sizeInput"
						class="value-input"
						type="number"
						name="size"
						step="any"
						value="{{beneficiary.size}}"
						readonly />
					<div class="value-unit">{{'meter'|i18n}}</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentHeight">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentHeight"
						class="comment-input"
						type="text"
						name="commentHeight"
						value="{{status.commentHeight}}" />
				</div>


				<div class="row value-row">
					<div class="value-name">{{'Weight'|i18n}}</div>
					<div class="value-date weightDate">{% if status.weightDate %}{{status.weightDate | date}}{% endif %}</div>
					<input
						flex
						id="weightInput"
						class="value-input"
						type="number"
						name="weight"
						step="any"
						value="{{status.weight}}" />
					<div class="value-unit">{{'kilogram'|i18n}}</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentWeight">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentWeight"
						class="comment-input"
						type="text"
						name="commentWeight"
						value="{{status.commentWeight}}" />
				</div>

				<div class="row value-row">
					<div class="value-name">{{'Lean/fat ratio'|i18n}}</div>
					<div class="value-date leanDate">{% if status.leanDate %}{{status.leanDate | date}}{% endif %}</div>
					<input type="number" name="lean" class="value-input" value="{{status.lean}}" />
					<div class="value-unit">{{'%'|i18n}}</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentLean">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentLean"
						class="comment-input"
						type="text"
						name="commentLean"
						value="{{status.commentLean}}" />
				</div>

				<div class="row value-row">
					<div class="value-name">{{'BMI'|i18n}}</div>
					<div class="value-date bmiDate">{% if status.bmiDate %}{{status.bmiDate | date}}{% endif %}</div>
					<input
						flex
						id="bmiInput"
						class="value-input"
						type="number"
						name="bmi"
						step="any"
						value="{{status.bmi}}" />
					<div class="value-unit">{{'kg/m²'|i18n}}</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentBmi">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentBmi"
						class="comment-input"
						type="text"
						name="commentBmi"
						value="{{status.commentBmi}}" />
				</div>

				<div class="row value-row questionnaire-row" data-name="MNA">
					<div class="quest-name">{{'MNA score'|i18n}}</div>
					<div class="questionnaire-date">{% if status.mnaDate %}{{status.mnaDate | date }}{% endif %}</div>
					<input type="number" class="questionnaire-score" value="{{status.mnaScore}}" readonly />
					<input type="hidden" class="questionnaire-answer" name="mnaAnswer" value="{{status.mnaAnswer}}" />
					<div class="questionnaire-button-container">
						<a 
							class="button small blue" 
							href={% if status.mnaAnswer %}"/answers/{{status.mnaAnswer}}"{% else %}"/questionnaire/MNA"{% endif %}
							{% if status.validated && !status.mnaScore %}disabled{% endif %}>
							{{'Questionnaire'|i18n}}
						</a>
					</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentMna">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentMna"
						class="comment-input"
						type="text"
						name="commentMna"
						value="{{status.commentMna}}" />
				</div>

				<div class="row value-row questionnaire-row" data-name="MNA_MINI">
					<div class="quest-name">{{'MNA SF score'|i18n}}</div>
					<div class="questionnaire-date">{% if status.mnaSfDate %}{{status.mnaSfDate | date }}{% endif %}</div>
					<input type="number" class="questionnaire-score" value="{{status.mnaSfScore}}" readonly />
					<input type="hidden" class="questionnaire-answer" name="mnaSfAnswer" value="{{status.mnaSfAnswer}}" />
					<div class="questionnaire-button-container">
						<a 
							class="button small blue" 
							href={% if status.mnaSfAnswer %}"/answers/{{status.mnaSfAnswer}}"{% else %}"/questionnaire/MNA_MINI"{% endif %}
							{% if status.validated && !status.mnaSfScore %}disabled{% endif %}>
							{{'Questionnaire'|i18n}}
						</a>
					</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentMnaSf">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentMnaSf"
						class="comment-input"
						type="text"
						name="commentMnaSf"
						value="{{status.commentMnaSf}}" />
				</div>

				<div class="row value-row questionnaire-row" data-name="SNAQ">
					<div class="quest-name">{{'SNAQ score' | i18n }}</div>
					<div class="questionnaire-date">{% if status.snaqDate %}{{status.snaqDate | date }}{% endif %}</div>
					<input type="number" class="questionnaire-score" value="{{status.snaqScore}}" readonly />
					<input type="hidden" class="questionnaire-answer" name="snaqAnswer" value="{{status.snaqAnswer}}" />
					<div class="questionnaire-button-container">
						<a 
							class="button small blue" 
							href={% if status.snaqAnswer %}"/answers/{{status.snaqAnswer}}"{% else %}"/questionnaire/SNAQ"{% endif %}
							{% if status.validated && !status.snaqScore %}disabled{% endif %}>
							{{'Questionnaire'|i18n}}
						</a>
					</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentSnaq">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentSnaq"
						class="comment-input"
						type="text"
						name="commentSnaq"
						value="{{status.commentSnaq}}" />
				</div>

				<div class="row value-row questionnaire-row" data-name="DHD-FFQ">
					<div class="quest-name">{{'Eetscore'|i18n}}</div>
					<div class="questionnaire-date">{% if status.dhdDate %}{{status.dhdDate | date }}{% endif %}</div>
					<input type="number" class="questionnaire-score" value="{{status.dhdScore}}" readonly />
					<input type="hidden" class="questionnaire-answer" name="dhdAnswer" value="{{status.dhdAnswer}}" />
					<div class="questionnaire-button-container">
						<a 
							class="button small blue" 
							href={% if status.dhdAnswer %}"/answers/{{status.dhdAnswer}}"{% else %}"/questionnaire/DHD-FFQ"{% endif %}
							{% if status.validated && !status.dhdScore %}disabled{% endif %}>
							{{'Questionnaire'|i18n}}
						</a>
					</div>
				</div>
				<div class="row value-row">
					<label class="comment-label" for="commentDhd">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentDhd"
						class="comment-input"
						type="text"
						name="commentDhd"
						value="{{status.commentDhd}}" />
				</div>

			</fieldset>

			<fieldset>
				<legend>
					{{'Special diet prescriptions'|i18n}}
					<div class="value-date-textarea dietPrescDate">{% if status.dietPrescDate %}{{status.dietPrescDate | date }}{% endif %}</div>
				</legend>

				<div class="row value-row">
					<textarea flex name="dietPresc">{{status.dietPresc}}</textarea>
				</div>
				<div class="row value-row">
					<label class="comment-label-full" for="commentDietPresc">{{'Status' | i18n}}</label>
					<input
						flex
						id="commentDietPresc"
						class="comment-input"
						type="text"
						name="commentDietPresc"
						value="{{status.commentDietPresc}}" />
				</div>
			</fieldset>

		</form>
	</zdk-panel>

	<zdk-panel heading="{{ 'Assistance services' | i18n }}">
		<form name="form" id="formAssistance" autocomplete="off">
			<div id="assistanceValues">
				{% for assistance in status.assistance %}
				 	{% set idx = loop.index %}
					<div class="row value-row">
						<span class="assistance-label">{{assistance.ref}}</span>
						<input type="hidden" name="assistance[{{ idx }}].ref" value="{{ assistance.ref }}">
						<!--<input type="checkbox" class="value-checkbox" name="assistance[{{ idx }}].active" {% if assistance.active %}checked{% endif %}>-->
						<input type="text" class="value-input assist" name="assistance[{{ idx }}].information" value="{{ assistance.information }}">
						{% if !status.validated %}
						<button type="button" class="red small" onclick="removeAssistance(this)">{{'Remove'|i18n}}</button>
						{% endif %}
					</div>
				{% endfor %}
			</div>
			<div class="hidden" id="idxValue">{{idx}}</div>

			{% if !status.validated %}
			<div class="row control">
				<span class="spacer"></span>
				<button type="button" onclick="addAssistance()" class="green small">{{'Add'|i18n}}</button>
			</div>
			{% endif %}

		</form>
	</zdk-panel>

	{% if rights.write %}
		{% if !status.validated %}
		<div id="buttons" class="row control">
			<span class="spacer"></span>
			<button type="button" class="blue validate-button" onclick="showConfirm();">{{'Validate'|i18n}}</button>
			<button type="button" class="red" onclick="modified=false; location.reload();">{{'Cancel'|i18n}}</button>
			<button type="button" class="green" onclick="saveAssistance();saveDiet();">{{'Save'|i18n}}</button>
		</div>
		{% endif %}
	{% endif %}
</div>

{% raw %}
<script type="template" id="assistanceLine">
	<select class="selectAssistanceRef" name="assistance[{{idx}}].ref">
		{{#assistanceList}}
			<option value="{{ref}}">{{labelLang}}</option>
		{{/assistanceList}}
	</select>
	<input type="text" class="value-input assist" name="assistance[{{idx}}].information">
	<button type="button" class="red small" onclick="removeAssistance(this)">{% endraw %}{{'Remove'|i18n}}{% raw %}</button>
</script>
{% endraw %}

{% include "../modal.htm" %}

<zdk-modal id="confirmModal" closebutton="false">
	<div class="modalContainer">
		<div class="modalTitleContainer">{{'Confirmation' | i18n}}</div>
		<div class="modalContentContainer">
			<p>{{'This action will lock all the datas entered. There is no going back to edit the datas.'|i18n}}<br>
			{{'Are you sure you want to continue ?' |i18n}}</p>
		</div>
		<div class="modalButtonContainer">
			<button class="red" onclick="hideConfirm();">{{'Cancel' | i18n}}</script>
			<button class="green" onclick="hideConfirm(); validate()">{{'Validate' | i18n}}</script>
		</div>
	</button>
</zdk-modal>

<script src="/scripts/questionnaireButton.js"></script>
<script src="/tpl/current/nutrition.js"></script>
{% endblock %}