{% extends '../page.htm' %}

{% block title %}{{ "Well being" | i18n }}{% endblock %}

{% block head %}
{% parent %}
<script src="/bower_components/form2js/src/form2js.js"></script>
<script src="/bower_components/momentjs/min/moment-with-locales.min.js"></script>
<script src="/scripts/utils.js"></script>
<script src="/scripts/modal.js"></script>

<link rel="import" href="/bower_components/zdk-modal/zdk-modal.html">
<link rel="import" href="/bower_components/zdk-panel/zdk-panel.html">

<link rel="stylesheet" href="../styles/current.css">

{% endblock %}

{% block content %}
<div class="hidden" id="unsave">{{"You have unsaved data"|i18n}}</div>
<div class="hidden" id="changelang">{{"Are you sure to cancel your changes ?"|i18n}}</div>


<div class="hidden" id="validate-status">{{status.validated}}</div>

<div id="content">

	{% if status.validated && status.validatedDate %}
		<div class="validated-date right">
			{{ status.validatedDate | date }} {{"by"|i18n}} {{ author.name.family + ' ' + author.name.given }}
		</div>
	{% endif %}

	<zdk-panel heading="{{ 'Well being' | i18n }}">
		<form name="form" id="form" autocomplete="off">
			<div class="row value-row questionnaire-row" data-name="SF36">
				<div class="quest-name">{{"SF 36 score"|i18n}}</div>
				<div class="questionnaire-date">{% if status.sf36Date %}{{status.sf36Date | date }}{% endif %}</div>
				<input type="text" class="questionnaire-score" value="{{status.sf36Score}}" readonly />
				<input type="hidden" class="questionnaire-answer" name="sf36Answer" value="{{status.sf36Answer}}" />
				<div class="questionnaire-button-container">
					<a 
						class="button small blue" 
						href={% if status.sf36Answer %}"/answers/{{status.sf36Answer}}"{% else %}"/questionnaire/SF36"{% endif %}
						{% if status.validated && !status.sf36Score %}disabled{% endif %}{% if (!rights.write || !medical || !beneficiary.active) && !status.sf36Score %}disabled{% endif %}>
						{{"Questionnaire"|i18n}}
					</a>
				</div>
			</div>
			<div class="row value-row">
				<label class="comment-label" for="commentSf36">{{"Status" | i18n}}</label>
				<input
					flex
					id="commentSf36"
					class="comment-input to-disable"
					type="text"
					name="commentSf36"
					value="{{status.commentSf36}}"
					{% if !rights.write || !medical || !beneficiary.active %}disabled{% endif %}
					/>
			</div>
		</form>
	</zdk-panel>

	{% if rights.write && medical && beneficiary.active %}
		{% if !status.validated %}
		<div id="buttons" class="row control">
			<span class="spacer"></span>
			<button type="button" class="blue" onclick="showConfirm();">{{"Validate"|i18n}}</button>
			<button type="button" class="red" onclick="modified=false; location.reload();">{{"Cancel"|i18n}}</button>
			<button type="button" class="green" onclick="checkForm();">{{"Save"|i18n}}</button>
		</div>
		{% endif %}
	{% endif %}

</div>

{% include "../modal.htm" %}

<zdk-modal id="confirmModal" closebutton="false">
	<div class="modalContainer">
		<div class="modalTitleContainer">{{"Confirmation" | i18n}}</div>
		<div class="modalContentContainer">
			<p>{{"This action will lock all the datas entered. There is no going back to edit the datas."|i18n}}</p>
			<p>{{"Are you sure you want to continue ?" |i18n}}</p>
		</div>
		<div class="modalButtonContainer">
			<button class="red" onclick="hideConfirm();">{{"Cancel" | i18n}}</button>
			<button class="green" onclick="hideConfirm(); checkForm(true);">{{'Validate' | i18n}}</button>
		</div>
	</div>
</zdk-modal>

<script src="/scripts/questionnaireButton.js"></script>
<script src="/tpl/current/well.js"></script>
{% endblock %}