{
  "port":8001,
  "cache":true,
  "mongo": {
    "ip":"127.0.0.1",
    "db":"physioDOM"
  },
  "Lang":"fr",
  "languages": ["en","es","nl","fr"],
  "healthStatusValidation": [
    "well", 
    "activity", 
    "frailty", 
    "nutrition"
  ],
  "country": "France",
  "agenda": 720,
  "key": "e4ffe05c-f5fe-4fd9-96b2-63dc7ee58e3d",
  "queue": {
    "protocol":"http",
    "ip":"127.0.0.1",
    "port":9000
  },
  "IDS": {
    "ip":"10.122.31.126",
    "appName": "secureapp21.idshost.fr",
    "unit":"test"
    "OrganizationUnit":"physioDOM"
  }
}