zdk-panel {
    line-height: 30px;
}
fieldset {
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

form[name="professionals"] .proItemContainer:nth-child(even) .proItem{
    background: #DFDFDF;
}

form[name="professionals"] .proItemContainer .proItem.referent{
    background: rgb(255, 255, 160);;
}

form[name="professionals"] .proItem .buttonContainer{
    flex: 0.2;
    -ms-flex: 0.2;
}

button.small{
    line-height: 0;
}