zdk-panel {
    line-height: 30px;
}
fieldset {
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

form[name="professionals"] .proItemContainer:nth-child(even) .proItem{
    background: #DFDFDF;
}

form[name="professionals"] .proItemContainer .proItem.referent{
    background: rgb(255, 255, 160);;
}

form[name="professionals"] .proItem .buttonContainer{
    -ms-flex: 0.2;
    -webkit-flex: 0.2;
    flex: 0.2;
}

button.small{
    line-height: 0;
}

.addressContainer .zipCode{
    -ms-flex: 0.5;
    -webkit-flex: 0.5;
    flex: 0.5;
}

.addressContainer .city{
    width: 80px;
}

.addressContainer{
    border-top: 2px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

.addressContainer:nth-child(2){
    border: none;
}

zdk-calendar{
    background: rgb(150,150,150);
}
