zdk-panel {
    line-height: 30px;
}
fieldset {
    margin-bottom: 10px;
}

.bold{
    font-weight: bold;
}

form[name="professionals"] .proItemContainer:nth-child(even) .proItem{
    background: #DFDFDF;
}

form[name="professionals"] .proItemContainer .proItem.referent{
    background: rgb(255, 255, 160);;
}

form[name="professionals"] .proItem .buttonContainer{
    -ms-flex: 0.2;
    -webkit-flex: 0.2;
    flex: 0.2;
}
/*
button.small{
    line-height: 0;
}
*/
.addressContainer .zipCode{
    -ms-flex: 0.5;
    -webkit-flex: 0.5;
    flex: 0.5;
}

.addressContainer .city{
    width: 80px;
}

.telecomContainer, .addressContainer{
    border-top: 2px solid grey;
    margin-top: 10px;
    padding-top: 10px;
}

.telecomContainer:nth-child(2), .addressContainer:nth-child(2){
    border: none;
    margin-top: 0;
    padding-top: 0;
}

zdk-calendar{
    background: white;
}

div.diagnosis div.col {
    align-items: baseline; 
    display:block;
    line-height: inherit;
}



@media (min-width: 768px) {
    div.diagnosis div.dblcol {
        box-sizing: border-box;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-gap: 10px;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px
    }
}

@media (max-width: 768px) {
    div.diagnosis div.dblcol {
        box-sizing:border-box;
    } 
    div.col {
        line-height: 1.2em;
    }
     div.col.buttonContainer {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}

div.row.referent {
    background: LightSkyBlue ;
}

input[name="biomaster"] {
    flex: 0;
    min-width: 200px;
}

div.refProLabelBox {
    margin-left: 40px;
    width: 80px;
    text-align: center;
}

div.selectProBox {
    width: 35px;
}

div.refProBox {
    width: 80px;
    text-align: center;
}

div.proName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}