body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
button {
    background: dodgerblue;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 10px;
    color: white;
    font-size: 16px;
}
button:hover {
    cursor: pointer;
    background: rgb(0, 98, 250);
}
*[data-state="hidden"] {
    display: none;
}
.hidden {
    display: none;
}
