.row {
	margin: 5px 0;
}

fieldset {
	border: none;
}

legend {
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.assist-name,
.quest-name {
	width: 100px;
}
.value-name {
	width: 100px;
}

input.value-input {
	margin: 0 10px;
	max-width: 150px;
}

input.assist { max-width: none; }

.value-unit {
	padding: 0 0 0 10px;
	width: 80px;
	color: #999;
	font-size: 0.9em;
}

.validated-date {
	color: #b0b0b0;
	padding: 0 10px;
	font-size: 16px;
}

.value-date, .questionnaire-date {
	color: #b0b0b0;
	padding: 0 10px;
	width: 90px;
}

.value-date-textarea {
	color: #b0b0b0;
	padding: 0 10px;
	float: right;
	font-weight: normal;
	margin-left: 10px;
}

input.questionnaire-score {
	margin: 0 10px;
	max-width: 150px;
}

div.row label.comment-label {
	width: 210px;
	text-align: right;
	color: #777;
}

div.row label.comment-label-full {
	width: 100px;
	text-align: left;
	color: #777;
}

input.comment-input {
	margin: 0 0 0 10px;
}

.questionnaire-button-container {
	padding: 0 0 0 10px;
	/* width: 80px; */
	text-align: left;
	display:-webkit-flex;
	display: -ms-flexbox;
	display:flex;
}

textarea {
	display: block;
	height: 200px;
}

#questionnaireIframe {
	display: none;
}

#questionnaireIframe.visible {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: 0;
}

a.button.small.blue[disabled] {
	opacity: 0.65;
}