html, body {
	height:100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(/fonts/Roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto-Light.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/Roboto-Bold.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 900;
	src: local('Roboto Black'), local('Roboto-Black'), url(/fonts/Roboto-Black.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	/*font-family:Verdana;*/
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-size:14px;
	margin: 0px;
	padding: 8px;
	margin-bottom:50px;
}

.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/* height: 100%; */
	width: 100%;
	background: white;
	flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	
	/* overflow: hidden; */
	padding:10px;
	padding-bottom:50px;
	box-sizing: border-box;
	
}

footer {
	/* position:absolute; */
	height: 30px;
	bottom:0;
	left:0;
	right:0;
	text-align: right;
}

footer {
	background: none;
	line-height: 50px;
	height: 50px;
	padding: 0px 10px;
	text-align: right;
}

.modalContainer {
	background: white;
	padding: 10px;
}
.modalTitleContainer {
	font-size:120%;
	font-weight: bold;
	margin: 10px 0px;
}
.modalContentContainer {
	margin-bottom:10px;
}
.modalButtonContainer {
	text-align: right;
	margin: 20px 0px 10px 0px;
}
/*
.panel-heading[data-toggle="collapse"] .panel-title:after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
}

.panel-heading.collapsed[data-toggle="collapse"] .panel-title:after {
	content: "\e080";
}

.panel-heading[data-toggle="collapse"] {
	cursor: pointer;
}
*/

/*
div.dlg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	height: 300px;
	width: 600px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 10px;
	display: none;
	margin: auto;
	overflow:hidden;
	
	flex-direction: column;
}

div.dlg.show {
	display:flex!important;
}

div.dlg > div.content {
	width:100%;
	flex-grow:1;
	overflow: hidden;
	overflow-y: auto;
}

div.dlg > footer {
	height: 50px;
	line-height: 50px;
	padding: 0px 10px;
}

div#bg {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.6);
}
*/