ul {
	padding: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 10px;
	-webkit-column-rule: 1px solid LightGray;

	-moz-column-count: 2;
	-moz-column-gap: 10px;
	-moz-column-rule: 1px solid LightGray;

	column-count: 2;
	column-gap: 10px;
	column-rule: 1px solid LightGray;
}

ul li {
	height:30px;
	line-height:30px;
	padding-left:10px;
}

ul li:hover {
	background: lightgray;
}