@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Regular'), local('Roboto-Regular'), url(/fonts/Roboto.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'), url(/fonts/Roboto-Light.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	background: aliceblue; 
}
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
div.error {
	border: 2px solid red;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	margin: auto;
	margin-top: 25px;
	display:none;
	color: DarkRed;
	background: white;
	text-align:center;
}
button { -webkit-flex:1; -ms-flex:1; flex:1; font-size:inherit; font-family: inherit; height:40px }
input[type=text], input[type=password] { height: 40px; font-size:120%; }