body { background: aliceblue; }
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}
div.error {
	border: 2px solid red;
	padding: 10px;
	width: 300px;
	border-radius: 10px;
	margin: auto;
	margin-top: 25px;
	display:none;
	color: DarkRed;
	background: white;
	text-align:center;
}
button { -webkit-flex:1; -ms-flex:1; flex:1; font-size:inherit; font-family: inherit; height:40px }
input[type=text], input[type=password] { height: 40px; font-size:120%; }