div.row {
	min-height: 23px;
}

input[type=checkbox].css-checkbox {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px;
	width:1px;
	margin:-1px;
	padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	height:21px;
	display:inline-block;
	line-height:21px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:21px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -21px;
}

div.mode-update input[type=text] {
	max-width: 100px;
}

div.row label.css-label {
	margin-right: 5px;
	width: 21px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.row label.css-label.color-blue {
	background-image:url(/img/icons/checkbox-blue.png);
}

div.row label.css-label.color-yellow {
	background-image:url(/img/icons/checkbox-yellow.png);
}

div.empty-graph {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 80px;
	left: 0;
	top: 250px;
	z-index: 999;
	font-size: 30px;
	color: #313131;
}

body {
	position: relative;
}