ul.data-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

div.col05 {
	width:130px;
}

.modalContainer .h1 {
	min-height: 35px;
}

.modalContainer .option-repeat {
	width: 70px;
	margin: 0 20px;
}

.frequency-choice, .frequency-options {
	margin-left: 150px;
}

/* Questionnaires */
ul.dates-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.dates-list li {
	display: inline-block;
	margin: 0 10px;
}

select {
	min-width:100px;
}

.vert {
	align-items: center;
}