body       { background: aliceblue; }
section    { background: white; }
nav        { background: black; color:white; }
article    { background: white; }
header.hdr { background: black; color:white; }
header.hdr a { text-decoration: none; color:white; }
footer     { background: Gainsboro; }
