body       { background: aliceblue; }
section    { background: coral; }
nav        { background: crimson; }
article    { background: coral; }
header.hdr { background: aqua; }
footer     { background: darkmagenta; }
