body { 
	background: aliceblue;
	position: absolute;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	overflow: auto;
}

section { 
	position:absolute;
	top:50px;
	bottom:30px;
	left:0;
	right:0;
	overflow-y:hidden;
}

nav {
	position: absolute;
	left:0;
	top:0;
	bottom:0;
	width:260px;
	padding: 10px 0px;
}

article {
	position:absolute;
	top:0;
	bottom:0;
	left:260px;
	right:0;
	overflow: auto;
}

article > footer {
	background: none;
	line-height: 50px;
	height: 50px;
	padding: 0px 10px;
	text-align: right;
}

header.hdr { 
	/*position:absolute;*/
	top:0;
	left:0;
	right:0;
	height: 50px !important;
	padding:10px;
}

footer {
	position:absolute;
	height: 30px;
	bottom:0;
	left:0;
	right:0;
	text-align: right;
}

.navbtn button {
	border:none;
	width: 30px;
	height: 30px;
}

@media (max-width: 992px) {
	nav {
		top: -50px;
		bottom: -30px;
		left:-270px;
		transition: left .5s ease;
		z-index: 10;
	}
	nav.show {
		left: 0;
	}
	nav header {
		text-align: right;
	}
	article {
		left:0;
	}
}

@media (min-width: 992px) {
	.navbtn button { display:none; }
}

/* div table */

.ttable {
	position: relative;
	width: 100%;
	display: table;
	table-layout: fixed;
}

.ttable.topmargin {
	margin-top: 30px;
}

.trow, .thead {
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	display: table-row;
}

.ttable.alternate .trow:nth-child(odd) {
	background:#f9f9f9;
}

.trow.normal, .thead.normal {
	height: 35px;
	/* line-height: 30px; */
}

.thead {
	font-weight:bold;
	border-bottom: 1px solid black;
}

.cell {
	display: table-cell !important;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
	padding: 0px;
	text-overflow: ellipsis;
}

.thead .cell {
	height:30px;
	line-height:30px;
	border-bottom: 1px solid black;
}

/* ul tree list */
ul.tree {
	list-style-type: none;
	padding: 0px 10px;
}

ul.tree li label:hover {
	background: brown;
	color: white;
}

ul.dropdown-menu {
	text-align:left;
}

ul.dropdown-menu li {
	padding: 0px 5px;
	width:100%;
}
ul.dropdown-menu li:hover {
	color:white;
	background: black;
}
div.main {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	overflow: hidden;
	padding:10px;
}

div.main.footer {
	bottom:50px;
}

div.dlg {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: white;
	height: 300px;
	width: 600px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px;
	box-shadow: 1px 1px 10px;
	display: none;
	margin: auto;
}

div.dlg > footer {
	height: 50px;
	line-height: 50px;
	padding: 0px 10px;
}

div#bg {
	display: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0, 0, 0, 0.6);
}